@{
    ViewData["Title"] = "Elysium Guide";
}

<h3>Setup</h3>

<ul>
    <li>randomly choose pediment side (top of temple)</li>
    <li>give "1" to random start player
other number discs to next players in line</li>
    <li>choose 5 of 8 card families
game 1: athena, hades, hephaestus, poseidon, zeus</li>
    <li>$4, 1 column of each color</li>
    <li>1 / 2 / 3 / 4 vp</li>
    <li>draw 3N+1 cards
    7, 10, 13</li>
    <li>if apollo is in play:
    add oracle board above temple
    place 4 face-up cards below oracle at setup
if ares is in play:
    all prestige points in the common reserve
</li>
    <li>3 Level bonus tiles
10 family bonus tiles
    (2 per family of cards in the game)
</li>
</ul>

cards
---
level 1-3
acquisition condition: black is wild
card powers only available while in the domain

quests
---
gold
transfers
vp

<h3>citizens</h3>
"take a citizen"
take top card of draw deck, play is face down in domain
citizens are never turned over
unable to pay acquisition cost on any remaining family card -> must take a citizen instead
    cannot take a citizen if able to take a family card, or if can still take a quest


"elesius" cards
    combine with other elesius cards to generate powers

<hr />

<h3>1. Awakening</h3>
<ol>
    <li>Clear Agora</li>
    <li><u>Apollo</u>: add remaining oracle cards</li>
    <li>Re-fill agora</li>
    <li><u>Apollo</u>: Re-fill agora</li>
</ol>

<h3>2. Actions</h3>
<ul>
    <li>4 turns: take quest (1) or family card (3)</li>
    <li>Acquisition cost - buy then discard <i>any</i> column</li>
    <li>Cannot have duplicate cards in <i>domain</i></li>
    <li>May only take a citizen when unable to acquire any quest or card</li>
    <li>text</li>
    <li>text</li>
    <li>text</li>
    <li>text</li>
</ul>
    turn order by numbered tokens
    either:
        take 1 quest tile
        take 1 family card
    exactly 1 quest and 3 family cards over 4 turns

    to take quest/card, must have columns matching acquisition condition
    may NOT have 2+ identical cards in the DOMAIN
    discard 1 column after taking a quest/card, ANY color even those NOT used to acquire the quest/card
    quest -> beside board
    card -> domain
    unable to pay acquisition cost on any remaining family card -> must take a citizen instead
        cannot take a citizen if able to take a family card, or if can still take a quest
    unable to take a remaining quest -> after taking 3 cards, pass turn and wait for other players. Then take a remaining quest and flip to incomplete side
    may use powers of cards in DOMAIN during turn, not elysium
    no limit to number of cards to trigger per turn
    cannot use trigger/activate/elysius powers on other players' turns
    follow legends rules if transferring a card

<h3>3. writing the legends</h3>
    1. allocate order of play discs
        incomplete quest -> take disc with highest number
        multiple incompletes: current discs act as tie-breaker
            e.g. incomplete #1 vs incomplete #3 -> incomplete #1 takes #3 and incomplete #3 takes #4
    2. receive VP & gold from quest
    3. transfer cards
        follow new order of play
        domain -> elysium
        number of cards transferred is limited by LYRE symbol on quest
        transfers cost gold equal to card level
        return quests under pediment
        powers in phase 3 (also only apply when in DOMAIN)
            "legend" lyre symbol
            permanent
        legends
            Level Legends
                cards of same level, different families
                max 5 cards, 1 from each family
                1st to write legend of 2 cards: take matching bonus
                another player writes legend with more: steal bonus
            Family Legends
                same family, different levels
                max 3 cards, 1 from each level
                1st to complete: take 5vp token
                2nd to complete: take 2vp bonus (can be same player)
            can add in any order
            can start new legend without completing existing
            once added, cards in legends cannot be moved; singleton cards cannot later be added to an incomplete legend
            may transfer a card with a Trigger ring, return ring to reserve
            singleton cards in elysium are worth 0
            may add citizens to legends, but legend must already have 2+ cards
                cost = same cost as card it is substituting for
                each citizen = -2 points (negative two)

<h3>4. end of epoch</h3>
    retrieve columns
    straighten any Activate cards in domains
    advance epoch marker


final scoring
---
remove cards in domains
remove singleton cards in elysiums
    remove from game, do not add to discard --- maybe something counts discards???
chronos powers
legend scoring
    family: 2/3 cards = 3/6 vp
    level: 2/3/4/5 cards = 2/4/8/12 vp
ares: score extra vp for most prestige points
    16 / 8 / 4 / 2 points
    tie: share cumulative VP among tied positions
    0 prestige = 0 vp


Card Summary
---

<img src="~/lib/Images/Elysium/apollo.png" />
<img src="~/lib/Images/Elysium/ares.png" />
<img src="~/lib/Images/Elysium/athena.png" />
<img src="~/lib/Images/Elysium/hades.png" />
<img src="~/lib/Images/Elysium/hephaestus.png" />
<img src="~/lib/Images/Elysium/hermes.png" />
<img src="~/lib/Images/Elysium/poseidon.png" />
<img src="~/lib/Images/Elysium/zeus.png" />


