@{
    ViewData["Title"] = "Cacao Guide";
}

<style>
#tiletable .tc-25 {
    width: 20.833%;
}
</style>

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h3 style="margin:0">Setup</h3>
            <ul style="margin:0">
                <li>Set water carrier to -10</li>
                <li>Jungle draw pile with 2 tiles on display</li>
                <li>Private draw piles; hand of 3</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <ul>
                <li>Add Jungle tile when adjacent to 2+ worker tiles</li>
                <li>End game trigger: some plays final worker tile</li>
                <li>Tie breaker: cacao fruit</li>
                <li>Temple Ties
                    <ul>
                        <li>1st: split top prize evenly (round down), no 2nd place rewards</li>
                        <li>2nd place: split lower prize evenly (round down)</li>
                    </ul>
                </li>
                <li>Overbuild
                    <ul>
                        <li>only allowed when jungle tiles have been depleted</li>
                        <li>max 1 overbuild per tile</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr />

<h3 style="margin-bottom:0">Tile Distribution</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h4 style="margin:0">Worker Tiles</h4>
            <ul style="margin-top:0">
                <li>(4) 1-1-1-1</li>
                <li>(5) 2-1-0-1</li>
                <li>(1) 3-0-0-1</li>
                <li>(1) 3-1-0-0</li>
                <br />
                <li>(1) 0-0-2-2</li>
                <li>(1) 0-2-0-2</li>
                <li>(1) 0-1-0-3</li>
                <li>(1) 0-0-0-4</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <h4 style="margin:0">Jungle Tiles</h4>
            <ul style="margin-top:0">
                <li>6 <span class="cross"></span> Single plantation</li>
                <li>2 <span class="cross"></span> Double plantation</li>
                <li>2 <span class="cross"></span> Market ($2)</li>
                <li>4 <span class="cross"></span> Market ($3)</li>
                <li>1 <span class="cross"></span> Market ($4)</li>
                <li>2 <span class="cross"></span> Gold Mine ($1)</li>
                <li>1 <span class="cross"></span> Gold Mine ($2)</li>
                <li>3 <span class="cross"></span> Water</li>
                <li>2 <span class="cross"></span> Sun-Worshiping</li>
                <li>5 <span class="cross"></span> Temple</li>
            </ul>
        </div>
    </div>
</div>

<hr />

<h3 style="margin-bottom:0">Turn Order</h3>
<ol style="margin-top:0">
    <li>Place 1 worker tile
        <ul>
            <li>any rotation</li>
            <li>next to at least 1 jungle tile</li>
        </ul>
    </li>
    <li>Fill jungle spaces
        <ul>
            <li>2 worker tiles adjacent to empty jungle space <span class="arrow"></span> add jungle tile from display</li>
            <li>Decide order if 2 jungle tiles are needed</li>
            <li>Need 3+ jungle tiles <span class="arrow"></span> place first two tiles, draw 3rd from draw pile</li>
            <li>Skip if the condition is not met or if the jungle tiles are exhausted</li>
        </ul>
    </li>
    <li>Carry out jungle actions
        <ul>
            <li>Workers on new tile are activated</li>
            <li>Workers adjacent to any new jungle tiles are activated</li>
            <li>May skip or do fewer actions</li>
            <li>May activate in any order, but each set of workers must be completed before moving to next</li>
        </ul>
    </li>
    <li>Refill
        <ul>
            <li>Draw back up to 3 worker tiles</li>
            <li>Refill jungle display</li>
        </ul>
    </li>
</ol>

<hr />

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h4 style="margin-bottom:0">Map</h4>
            <ul style="margin-top:0">
                <li>2 maps per player</li>
                <li>Draw pile <span class="arrow"></span> map board <span class="arrow"></span> display</li>
                <li>Spend map tokens to take tiles from map board</li>
                <li>Refresh map and display at end of turn</li>
                <li>Leftover maps are worth 0 gold</li>
                <li>Variant: allow overbuilding when <i>draw pile</i> is depleted</li>
            </ul>

            <h4 style="margin-bottom:0">Irrigation</h4>
            <ul style="margin-top:0">
                <li>Water carrier backward 1 space per worker</li>
                <li>Take 4 cacao per worker</li>
            </ul>
            
            <h4 style="margin-bottom:0">Chocolate</h4>
            <ul style="margin-top:0">
                <li>Kitchen: each worker replaces a cacao with a chocolate</li>
                <li>Leftover chocolate is worth 0 gold</li>
            </ul>
            
            <h4 style="margin-bottom:0">Hut</h4>
            <ul style="margin-top:0">
                <li>Randomize the 12 hut tiles, arrange low to high</li>
                <li>Turn end: may buy 1 hut</li>
                <li><i>May</i> build duplicate huts</li>
                <li>Huts are worth buy price</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <h4></h4>
            <h4 style="margin-bottom:0">The Gem Mines</h4>
            <ul style="margin-top:0">
                <li>Add 6 gems when a Gem Mine is <i>revealed</i></li>
                <li>1 gem of each color <span class="arrow"></span> exchange for <i>lowest</i> mask (mandatory)</li>
                <li>Resolve gem distribution in clockwise order</li>
                <li>Add mask values to gold, each leftover gem is worth 1 gold</li>
            </ul>

            <h4 style="margin-bottom:0">Favor of the Emperor</h4>
            <ul style="margin-top:0">
                <li>Place emperor on $2 market (or water tile)</li>
                <li>Move emperor to your worker tile when placed in same row/column</li>
                <li>Take $1 when emperor is moved to your worker tile</li>
                <li>Take $1 if emperor is on your tile at start of turn</li>
            </ul>

            <h4 style="margin-bottom:0">The New Workers</h4>
            <ul style="margin-top:0">
                <li>Either add to original tiles, or replace some</li>
                <li>All players should use the same number and combination</li>
                <li>Total worker tiles should outnumber jungle tiles
                    <ul>
                        <li>2p: 1-8 more worker</li>
                        <li>3p: 2-12 more worker</li>
                        <li>4p: 3-16 more worker</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<br />

<h3>Expansion Modules</h3>
<div id="tiletable" class="table table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-2">
            Module
        </div>
        <div class="table-cell tc-2 tc-push-1">
            2 player
        </div>
        <div class="table-cell tc-2 tc-push-4">
            3 / 4 player
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            &nbsp;
        </div>
        <div class="table-cell tc-25">
            <u>Add</u>
        </div>
        <div class="table-cell tc-25">
            <u>Remove</u>
        </div>
        <div class="table-cell tc-25">
            <u>Add</u>
        </div>
        <div class="table-cell tc-25">
            <u>Remove</u>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Base
            <br /><br />
            Single Plantation
            <br />
            Market ($2)
        </div>
        <div class="table-cell tc-25">&nbsp;</div>
        <div class="table-cell tc-25">
            2 <span class="cross"></span> Single Plantation
            <br />
            1 <span class="cross"></span> Market ($3)
            <br />
            1 <span class="cross"></span> Gold Mine ($1)
            <br />
            1 <span class="cross"></span> Water
            <br />
            1 <span class="cross"></span> Sun-Worship
            <br />
            1 <span class="cross"></span> Temple
        </div>
        <div class="table-cell tc-25">&nbsp;</div>
        <div class="table-cell tc-25">
            1-1-1-1
            <br />
            (4p) 2-1-0-1
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12"><hr /></div></div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Irrigation
            <br /><br />
            Single Plantation
            <br />
            Water
        </div>
        <div class="table-cell tc-25">
            2 <span class="cross"></span> Irrigation
        </div>
        <div class="table-cell tc-25">
            2 <span class="cross"></span> Double Plantation
        </div>
        <div class="table-cell tc-25">
            3 <span class="cross"></span> Irrigation
        </div>
        <div class="table-cell tc-25">
            1 <span class="cross"></span> Single Plantation
            <br />
            2 <span class="cross"></span> Double Plantation
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12"><hr /></div></div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Chocolate
        </div>
        <div class="table-cell tc-25">
            2 <span class="cross"></span> Chocolate Kitchen
            <br />
            2 <span class="cross"></span> Chocolate Market
        </div>
        <div class="table-cell tc-25">
            Gold Mine ($2)
            <br />
            Gold Mine ($1)
            <br />
            2 <span class="cross"></span> Market ($3)
        </div>
        <div class="table-cell tc-25">
            3 <span class="cross"></span> Chocolate Kitchen
            <br />
            3 <span class="cross"></span> Chocolate Market
        </div>
        <div class="table-cell tc-25">
            3 <span class="cross"></span> Gold Mine
            <br />
            3 <span class="cross"></span> Market ($3)
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12"><hr /></div></div>

    <div class="table-row">
        <div class="table-cell tc-2">
            The Gem Mines
        </div>
        <div class="table-cell tc-25">
            4 <span class="cross"></span> Gem Mine
        </div>
        <div class="table-cell tc-25">
            4 <span class="cross"></span> Temple
            <br />
            1 <span class="cross"></span> Mask ($12)
            <br />
            8 <span class="cross"></span> Gem
        </div>
        <div class="table-cell tc-25">
            5 <span class="cross"></span> Gem Mine
        </div>
        <div class="table-cell tc-25">
            5 <span class="cross"></span> Temple
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12"><hr /></div></div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Tree of Life
        </div>
        <div class="table-cell tc-25">
            2 <span class="cross"></span> Tree of Life
        </div>
        <div class="table-cell tc-25">
            1 <span class="cross"></span> Gold Mine ($1)
            <br />
            1 <span class="cross"></span> Gold Mine ($2)
        </div>
        <div class="table-cell tc-25">
            3 <span class="cross"></span> Tree of Life
        </div>
        <div class="table-cell tc-25">
            3 <span class="cross"></span> Gold Mine
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            ... + Chocolate
        </div>
        <div class="table-cell tc-25">
            0-0-0-4
        </div>
        <div class="table-cell tc-25">
            Don't remove Gold Mines
        </div>
        <div class="table-cell tc-25">
            &nbsp;
        </div>
        <div class="table-cell tc-25">
            Don't remove Gold Mines
            <br />
            (4p) 1-1-1-1
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12"><hr /></div></div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Golden Temple
        </div>
        <div class="table-cell tc-25">
            Golden Temple
        </div>
        <div class="table-cell tc-25">
            1 <span class="cross"></span> Temple
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12"><hr /></div></div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Big Market
        </div>
        <div class="table-cell tc-25">
            Big Market
        </div>
        <div class="table-cell tc-25">
            1 <span class="cross"></span> Market ($3)
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12"><hr /></div></div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Volcanoes
        </div>
        <div class="table-cell tc-25">
            1-3 Volcanoes
        </div>
        <div class="table-cell tc-25">
            1-3 Gold Mines
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12"><hr /></div></div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Gigantic
        </div>
        <div class="table-cell tc-25 tc-push-5">
            All worker
            <br />
            All jungle
        </div>
        <div class="table-cell tc-25 tc-push-5">
            (3p only)
            <br />
            2 <span class="cross"></span> Single Plantation
            <br />
            2 <span class="cross"></span> Gold Mine ($1)
            <br />
            1 <span class="cross"></span> Market ($2)
            <br />
            1 <span class="cross"></span> Market ($3)
            <br />
            1 <span class="cross"></span> Water
        </div>
    </div>
</div>
