@{
    ViewData["Title"] = "Campaign Trail";
}

<h2>Campaign Trail</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "CampaignTrailGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Player Aid", "Index", "Games", new { gamename = "CampaignTrailAid" })</p>

