@{
    ViewData["Title"] = "Cash N Guns Guide";
}

<h3>Setup</h3>

foam gun
5 clicks
3 bangs
1 character
optional: deal a power card to each player

loot: 8 piles of 8

<h4>more cash n guns exp</h4>
---
include new loot cards, still make 8 piles of 8
remaining 16 loot goes under the safe tile
safe has available side up
shuffle new power cards in with base
deal 2 power to each player, they choose 1
shuffle all surprise cards and deal 2 to each player, they choose 1

the safe
---
once per game round
instead of taking a loot card, godfather takes 2 safe cards and keeps 1, gives other to player to their right
player to the right gets the loot, even if wounded or lying down
skip to _next_ right if that player is dead
share phase stops immediately when last loot is taken, so godfather may be too late for the safe
only _current_ godfather can get into the safe, not the player who takes New Godfather tile
edge cases:
    safe can be empty toward end of game from special cards
    if there is exactly one card, Godfather chooses either keep or give it to right-hand

godfather on last turn
---
final godfather chooses whether fake bills will count or not

end game
---
fake bills decision is made before counting diamonds
fake $10k and fake $20k: depends on godfather choice
fake diamonds: no value but count toward the bonus
forged painting: owner can spend $20k for it to count
key & suitcase: each worth $25k if both owners are alive

<h4>Team Spirit exp</h4>
add silencer to a basic gun
teams use the same colors
6: ABCABC
7: ABCCABC (with evil twins on team C sitting next to each other)
8: ABCDABCD
9: ABCABCABC

"shadow trading" tile set to available
    take shadow trading to trade a card for teammate's card of same type


players cannot aim at teammate
players may use medkit or clip on a living teammate (regardless if they are participating in loot)

only 1 evil twin participates in loot grabbing, but they are both distinct players for all other situations

only living players participate in scoring
players tally points, count paintings, and qualify for diamond bonus individually - not as a team
add scores of living team members
richest team wins
    tie: team with most wounds

variant: mercenaries
---
add mercenary recruitment tile with new godfather and shadow trading
add 4 mercenary tiles face up
    first game: catgirl, jay bond, dre gray, miss pencilhands
    require more cash n guns: clemenz'hand, forger frankie, jason UPS
add envelope tokens corresponding to the teams in the game

choose mercenary recruitment tile instead of loot
    place a loot card under their team envelope
    loot is lost
    may now hire a mercenary at end of game

before adding cards for final score, each team can recruit a mercenary
starting with team that invested the most under envelope,
    recruit a mercenary
    apply mercenary power
    tie: team with more cards, still tied: godfather chooses

godfather makes decision on fake bills before the recruitment of mercenaries



<h3>Game Turn</h3>
1. Loot
    flip 8 loot
    godfather token showing available

2. Choose Bullet card
    everyone secretly chooses click/bang

3. Hold-Up
    1...2...3 aim guns

4. Godfather's Privilege
    Godfather orders a player to change target

5. Courage
    1...2...3 either lay down or shout BANZAI
    lay down: discard bullet card face down
        does not participate in loot sharing
        anyone targeting this player also discards their bullet face down
        
6. Card Effects
    players with a card in front of them apply effects
    click: nothing happens
    bang: target is wounded & lay character down - no loot sharing

    wounds can apply simultaneously
    may receive multiple wounds in a single turn

7. Loot Sharing
    start with Godfather (or closest clockwise)
    draft loot until all is gone



End of game
---
after 8th turn
player with most diamond cards (regardless of value) takes 60k prize
    tie: no one gets it
richest player wins
    tie: most wounds wins



notes
---
clip: take a bang card and then discard another card
