@{
    ViewData["Title"] = "Castles of Burgundy Buildings";
}

<style>
h3, h4, ol, ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-bottom: .5em;
}

ol, ul {
    margin-bottom: 1em;
}

li > ul {
    margin-bottom: 0;
}

footer {
    margin-bottom: 0;
}

.tc-3 > div {
    display: inline-block;
    vertical-align: top;
}
</style>

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/warehouse.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Warehouse</h4>
                sell goods
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/carpentersworkshop.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Carpenter's Workshop</h4>
                take any building
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/church.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Church</h4>
                take any mine,
                <br />
                castle, or knowledge
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/market.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Market</h4>
                take any animal or ship
            </div>
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12">&nbsp;</div></div>
    <div class="table-row spacer"><div class="table-cell tc-12">&nbsp;</div></div>

    <div class="table-row">
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/boardinghouse.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Boarding House</h4>
                4 workers
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/bank.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Bank</h4>
                2 silverlings
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/cityhall.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>City Hall</h4>
                place any tile
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/watchtower.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Watchtower</h4>
                4 points
            </div>
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12">&nbsp;</div></div>
    <div class="table-row spacer"><div class="table-cell tc-12">&nbsp;</div></div>

    <div class="table-row">
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/park.png" style="width: 78px;" />
            </div>
            <div>
                <h4>Park</h4>
                wildcard building
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/pleasuregarden.png" style="width: 78px;" />
            </div>
            <div>
                <h4>Pleasure Garden</h4>
                use white die
            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br />


<div class="table">
    <div class="table-row">
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/warehouse.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Warehouse</h4>
                sell goods
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/carpentersworkshop.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Carpenter's Workshop</h4>
                take any building
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/church.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Church</h4>
                take any mine,
                <br />
                castle, or knowledge
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/market.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Market</h4>
                take any animal or ship
            </div>
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12">&nbsp;</div></div>
    <div class="table-row spacer"><div class="table-cell tc-12">&nbsp;</div></div>

    <div class="table-row">
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/boardinghouse.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Boarding House</h4>
                4 workers
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/bank.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Bank</h4>
                2 silverlings
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/cityhall.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>City Hall</h4>
                place any tile
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/watchtower.png" style="vertical-align: top;" />
            </div>
            <div>
                <h4>Watchtower</h4>
                4 points
            </div>
        </div>
    </div>

    <div class="table-row spacer"><div class="table-cell tc-12">&nbsp;</div></div>
    <div class="table-row spacer"><div class="table-cell tc-12">&nbsp;</div></div>

    <div class="table-row">
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/park.png" style="width: 78px;" />
            </div>
            <div>
                <h4>Park</h4>
                wildcard building
            </div>
        </div>
        <div class="table-cell tc-3">
            <div>
                <img src="~/lib/Images/CastlesOfBurgundy/pleasuregarden.png" style="width: 78px;" />
            </div>
            <div>
                <h4>Pleasure Garden</h4>
                use white die
            </div>
        </div>
    </div>
</div>
