@{
    ViewData["Title"] = "Castles of Burgundy";
}

<h2>Castles of Burgundy</h2>

<p>@Html.ActionLink("Buildings", "Index", "Games", new { gamename = "CastlesOfBurgundyBuildings" })</p>

<br /><br />

<p>@Html.ActionLink("Tile Distribution", "Index", "Games", new { gamename = "CastlesOfBurgundyTiles" })</p>

<br /><br />

<p>@Html.ActionLink("Goods Summary", "Index", "Games", new { gamename = "CastlesOfBurgundyGoods" })</p>

