@{
    ViewData["Title"] = "Castles of Burgundy Goods";
}

<style>
.tile {
    width: 50px;
}

.tile-sm {
    width: 30px;
}
</style>

<div class="table table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-6" style="text-align: center;">
            <h3>Acquire Goods</h3>
        </div>
        <div class="table-cell tc-6" style="text-align: center;">
            <h3>Sell Goods</h3>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/CastlesofBurgundy/ship.png" class="tile" />
        </div>
        <div class="table-cell tc-4">
            1. Place a boat tile
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/CastlesofBurgundy/sell.png" class="tile" />
        </div>
        <div class="table-cell tc-4">
            1. Use an action die
            <br />
            <span style="font-size: 9pt">or place a Warehouse</span>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/CastlesofBurgundy/depot.png" class="tile" />
        </div>
        <div class="table-cell tc-4">
            2. Select <i>any</i> depot
            <br />
            <span style="font-size: 9pt">Independent of die used</span>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/CastlesofBurgundy/soldgood.png" class="tile" />
        </div>
        <div class="table-cell tc-4">
            2. Flip <i>all</i> goods of the <i>matching die value</i>
            <br />
            <span style="font-size: 9pt">Warehouse: choose any number</span>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/CastlesofBurgundy/good.png" class="tile" />
        </div>
        <div class="table-cell tc-4">
            3. Take <i>all</i> goods
            <br />
            <span style="font-size: 9pt">Leave behind goods you cannot store</span>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/CastlesofBurgundy/points.png" class="tile-sm" /><img src="~/lib/Images/CastlesofBurgundy/silverling.png" class="tile-sm" />
        </div>
        <div class="table-cell tc-4">
            3. Receive 2-4 points per tile; plus <u><b>one</b></u> silverling
            <br />
            <span style="font-size: 9pt"></span>
        </div>
    </div>
</div>

