@{
    ViewData["Title"] = "Castles of Mad King Ludwig Guide";
}

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h3>Setup</h3>
            <ul>
                <li>$15,000</li>
                <li>Bonus cards: deal 3, keep 2</li>
                <li>Facedown swans</li>
                <li>[N+2] royal decrees to last player, counter-clockwise draft</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <h3>Pricing</h3>
            <ul>
                <li>4p: use all</li>
                <li>3p: ignore $1,000 slot</li>
                <li>2p: also ignore $2,000 slot</li>
                <li>5p: all, plus second tile at $15,000</li>
            </ul>
        </div>
    </div>
</div>

<hr />

<h3>End Game</h3>
<ul>
    <li>Triggered by empty room card stack</li>
    <li>Final round will have a full set of rooms</li>
    <li>If necessary, shuffle <i>all</i> room cards before drawing to fill the room row</li>
</ul>

<hr />

<h3>Moats</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <ul>
                <li>Pay $5,000</li>
                <li>Discard top Room card / tile</li>
                <li>Only outdoor rooms can be built outside the moat</li>
                <li>Outdoor rooms fence edges cannot touch the stone edge of the moat (when building one inside the moat)</li>
                <li>Outdoor room connected to barbican drawbridge is considered connected to a corridor room</li>
                <li>Barbican completion requires an outdoor room connected to the drawbridge</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <ul>
                <li>Moat completion: pick any stack (not stairs or hallway), build 1 for free</li>
                <li>Depleted moat stack counts toward depleted stack at end game</li>
                <li>Max 3 moats per player</li>
                <li>never counted as rooms for favors, bonus cards, or royal decrees</li>
                <li>1000 sq ft counts toward size of castle</li>
                <li>Building the moat can trigger end game (by depleting the deck)</li>
                <li>Moats are not corridors - no penalty for touching activity rooms</li>
                <li>Entrances are not sealed by the moat (so it will not complete the room)</li>
            </ul>
        </div>
    </div>
</div>

<hr />

<h3>Secret Passages</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <ul>
                <li>Place any number to connect a new room to an existing room</li>
                <li>Directly connect 2 rooms that are not directly connected otherwise</li>
                <li>Double the conditional connection VPs</li>
                <li>Cannot be placed between 2 rooms that are already connected</li>
                <li>Activity room penalties do not travel through passages</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <ul>
                <li>Living room completion: secret passage double bonuses apply again</li>
                <li>Not counted as rooms for favors, bonus cards, or royal decrees</li>
                <li>Do not count as square footage for castle</li>
                <li>They <i>do</i> act as edges for courtyards</li>
                <li>May not be placed outside barbican (moats)</li>
                <li>May not connect upstairs-downstairs</li>
            </ul>
        </div>
    </div>
</div>












