@{
    ViewData["Title"] = "Champions of Midgard";
}

<h2>Champions of Midgard</h2>


<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "ChampionsOfMidgardGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Rune Cards", "Index", "Games", new { gamename = "ChampionsOfMidgardRuneCards" })</p>

<br /><br />

<p>@Html.ActionLink("Journey Cards", "Index", "Games", new { gamename = "ChampionsOfMidgardJourneyCards" })</p>

<br /><br />

<p>@Html.ActionLink("Destiny Cards", "Index", "Games", new { gamename = "ChampionsOfMidgardDestinyCards" })</p>

