@{
    ViewData["Title"] = "Champions of Midgard Guide";
}

<style>
.icon {
    width: 20px;
}

#setuptable .table-cell {
    text-align: center;
}
</style>

<h3>Setup</h3>

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <div class="table table-padding-p5" id="setuptable">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <b><u>Players</u></b>
                    </div>
                    <div class="table-cell tc-2">
                        <b><u>Workers</u></b>
                    </div>
                    <div class="table-cell tc-2">
                        <b><u>Military</u></b>
                    </div>
                    <div class="table-cell tc-2">
                        <b><u>Economic</u></b>
                    </div>
                    <div class="table-cell tc-3">
                        <b><u>Epic Monsters</u></b>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        2
                    </div>
                    <div class="table-cell tc-2">
                        4
                    </div>
                    <div class="table-cell tc-2">
                        1
                    </div>
                    <div class="table-cell tc-2">
                        1
                    </div>
                    <div class="table-cell tc-2">
                        2
                    </div>
                </div>

                <div class="table-row"><div class="table-cell tc-11"><hr /></div></div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        3
                    </div>
                    <div class="table-cell tc-2">
                        3
                    </div>
                    <div class="table-cell tc-2">
                        1
                    </div>
                    <div class="table-cell tc-2">
                        2
                    </div>
                    <div class="table-cell tc-2">
                        2
                    </div>
                </div>

                <div class="table-row"><div class="table-cell tc-11"><hr /></div></div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        4
                    </div>
                    <div class="table-cell tc-2">
                        3
                    </div>
                    <div class="table-cell tc-2">
                        2
                    </div>
                    <div class="table-cell tc-2">
                        2
                    </div>
                    <div class="table-cell tc-2">
                        3
                    </div>
                </div>

                <div class="table-row"><div class="table-cell tc-11"><hr /></div></div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        5
                    </div>
                    <div class="table-cell tc-2">
                        3
                    </div>
                    <div class="table-cell tc-2">
                        3
                    </div>
                    <div class="table-cell tc-2">
                        3
                    </div>
                    <div class="table-cell tc-2">
                        3
                    </div>
                </div>
            </div>
        </div>
        <div class="table-cell tc-6">
            <p>Choose viking leaders in reverse turn order</p>
            <br />
            <p>1 of each:
                <ul>
                    <li><img src="~/lib/Images/ChampionsOfMidgard/food.png" class="icon" /></li>
                    <li><img src="~/lib/Images/ChampionsOfMidgard/wood.png" class="icon" /></li>
                    <li><img src="~/lib/Images/ChampionsOfMidgard/gold.png" class="icon" /></li>
                    <li><img src="~/lib/Images/ChampionsOfMidgard/horn.png" class="icon" /></li>
                    <li>Swordsman die</li>
                    <li>Destiny card</li>
                    <li>Leader die</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
    
<h3>Combat Order</h3>
<ol>
    <li>Hunting Grounds</li>
    <li>Troll - discard if not defeated (and every gets a blame)</li>
    <li>Draugr - discard if not defeated</li>
    <li>Bergrisar - no bounty, do not discard between rounds</li>
    <li>Monsters - resolve fights left to right, +1 gold bounty</li>
</ol>

<br />
<br />
<br />
<br />

<h3>Sacrifice Tokens</h3>
<p>Collect whenever warriors are returned to the supply
    <ul>
        <li>Defeated in combat</li>
        <li>Unfed on a journey</li>
        <li>Lost to an event</li>
        <li>Destroyed because of prohibited type
            <ul>
                <li>Bergrisar and Monsters only</li>
            </ul>
        </li>
    </ul>

    but <b>not</b> when capacity prevents taking extra warriors, or when warriors are swapped
</p>

<br />
<br />
<br />
<br />

<h3>Token Purchases</h3>
<ul>
    <li>Available after resolving any combat</li>
    <li>Valkyrie Blessings are refilled immediately</li>
    <li>Hunting Grounds <span class="arrow"></span> players make purchases in the order the meeples were assigned</li>
</ul>

