@{
    ViewData["Title"] = "Clank!";
}

<h2>Clank!</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "ClankGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Icons and Reminders", "Index", "Games", new { gamename = "ClankIconsReminders" })</p>
