@{
    ViewData["Title"] = "Climbers Guide";
}

<h3>Player Turn (all optional)</h3>
<ol>
    <li>Move climber across and/or up as far as possible</li>
    <li>Move and/or rotate an unoccupied, free block</li>
    <li>Move climber across and/or up as far as possible (again)</li>
    <li>Place blocking disk on an unoccupied block</li>
    <li>Each other player moves their climber across and/or up as far as possible</li>
</ol>

