@{
    ViewData["Title"] = "Colt Express";
}

<h2>Colt Express</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "ColtExpressGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Events", "Index", "Games", new { gamename = "ColtExpressEvents" })</p>

<br /><br />

<p>@Html.ActionLink("Marshal Goals", "Index", "Games", new { gamename = "ColtExpressMarshalGoals" })</p>

