@{
    ViewData["Title"] = "Colt Express Marshal Goals";
}

<h3>Special Targets</h3>

<div class="event-row">
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/only_a_flesh_wound.png" /><span>Only a Flesh Wound!</span></h4>
		<p>Have at least 1 Brawler Card.</p>
	</div>
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/dodge_bullets.png" /><span>Dodge Bullets!</span></h4>
		<p>Have no more than 2 bullets from a single bandit.</p>
	</div>
</div>

<div class="event-row">
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/golden_bullet_award.png" /><span>Golden Bullet Award</span></h4>
		<p>At least 1 stack of bullet cards is empty.</p>
	</div>
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/the_mail_must_go_through.png" /><span>The Mail Must Go Through!</span></h4>
		<p>Have at least 1 mailbag.</p>
	</div>
</div>

<div class="event-row">
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/throw_away_the_key.png" /><span>Throw Away the Key!</span></h4>
		<p>Have at least 2 prisoner cards.</p>
	</div>
</div>

<div class="event-row">
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/full_of_lead.png" /><span>Full of Lead</span></h4>
		<p>Each bandit has at least one of the Marshal's bullet.</p>
	</div>
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/arch_enemy.png" /><span>Arch Enemy</span></h4>
		<p>A bandit has 4+ of the Marshal's bullet.</p>
	</div>
</div>

<br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br />
<div style="" class="event-row">
	<br /><br /><br />
	<h3>Marshal's Bullets</h3>
</div>


<div class="event-row">
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/disarmed.png" /><span>Disarmed</span></h4>
		<p>Until round end:</p>
		<p>Bandit's Shoot cards have no effect.</p>
	</div>
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/wounded_knee.png" /><span>Wounded Knee</span></h4>
		<p>Until round end:</p>
		<p>Bandit's Change Floor cards have no effect.</p>
	</div>
</div>

<div class="event-row">
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/shoulder_injury.png" /><span>Shoulder Injury</span></h4>
		<p>Until round end:</p>
		<p>Bandit's Punch cards have no effect.</p>
	</div>
</div>

<div class="event-row">
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/got_im.png" /><span>Got 'Im!</span></h4>
		<p>Marshal takes this bandit's prisoner card into his achievement zone.</p>
	</div>
	<div class="event">
		<h4><img src="~/lib/Images/ColtExpress/drop_that_bag.png" /><span>Drop That Bag!</span></h4>
		<p>Marshal takes this bandit's mailbag into his achievement zone.</p>
	</div>
</div>


<style>
body {
/*	font-family: courier new;
	font-family: calibri;
	width: 750px;
*/}

.event p {
	margin: 0;
}

.event-row {
	clear: both;
	
}

.event-row .event {
	/*border: 1px solid black;*/
	padding: 0 1em;
	vertical-align: top;
	width: 45%;
	float: left;
	margin-bottom: 8em;
}

.whiskey {
	width: 32px;
}

.event h4 span {
	vertical-align: top;
	margin-left: 5px;
}

</style>
