@{
    ViewData["Title"] = "Concordia";
}

<h2>Concordia</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "ConcordiaGuide" })
    <br /> print 1; two-sided</p>

    <br /><br />

<p>@Html.ActionLink("Saturn Helper", "Index", "Games", new { gamename = "ConcordiaSaturnHelper" })
    <br /> print enough for N players, used to hold houses for ease of tracking which provinces have your buildngs</p>

    <br /><br />

<p>@Html.ActionLink("Mercury Helper", "Index", "Games", new { gamename = "ConcordiaMercuryHelper" })</p>
