@{
    ViewData["Title"] = "Concordia Saturn Helper";
}

<style>
.toppad {
    padding-top: 4em;
}
</style>

<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-6">
            <img src="~/lib/Images/Concordia/imperium.png" style="width: 386px;" />
            
        </div>
        <div class="table-cell tc-6">
            <img src="~/lib/Images/Concordia/italia.png" style="width: 383px;" />
            
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12 toppad"></div></div>

    <div class="table-row">
        <div class="table-cell tc-6">
            <img src="~/lib/Images/Concordia/hellas.png" style="width: 300px;" />
        </div>
        <div class="table-cell tc-6">
            <img src="~/lib/Images/Concordia/hispania.png" style="width: 401px;" />
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12 toppad"></div></div>

    <div class="table-row">
        <div class="table-cell tc-6">
            <img src="~/lib/Images/Concordia/cyprus.png" style="width: 330px;" />
        </div>
        <div class="table-cell tc-6">
            <img src="~/lib/Images/Concordia/ionium.png" style="width: 362px;" />
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12 toppad"></div></div>

    <div class="table-row">
        <div class="table-cell tc-6">
            <img src="~/lib/Images/Concordia/byzantium.png" style="width: 310px;" />
        </div>
        <div class="table-cell tc-6">

        </div>
    </div>
</div>

