@{
    ViewData["Title"] = "Cryo";
}

<h2>Cryo</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "CryoGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Action Summary", "Index", "Games", new { gamename = "CryoActionSummary" })</p>
