@{
    ViewData["Title"] = "Cyclades FAQ";
}

<h3>FAQ</h3>
https://boardgamegeek.com/thread/522878/cyclades-faq-reviewed-designer

<h4>General</h4>
<ol>
    <li>Priests and 2-players game
        <br />
A priest allows a player to save one coin on the sum of your offerings. In other words, one priest gives you a discount of 1 GP for one of your two offerings.
However, you always have to follow the rule that an offering can never cost less than one. Therefore is you have 4 priests and have offered 3 GP and 2 GP, you still have to pay 2 GP.
    </li>
    <li>No more soldiers/ships
        <br />
If all eight of your soldiers/ships are already on the board and you go to Ares/Poseidon, you don't get the free soldier/ship and cannot buy additional ones.
    </li>
    <li>Last island
        <br />
The rules state that you cannot attack a player's last island unless you can prove that you can build your second metropolis (or third in a 2-players game) by doing so. If later in the same round you loose on of your metropolis and therefore the game doesn't end, the player who has lost his last island is out of the game. When this rare situation occurs, the game is very close to the end anyway.
    </li>
    <li>Trade routes
        <br />
To claim the income from a prosperity markers on a sea space, you need a ship of your color there. When your ship leaves this sea space it becomes neutral again, you do not leave your color marker on it.
    </li>
    <li>Athena and fourth philosopher
        <br />
If you have three philosophers and go to Athena, you <u>must</u> take the free philosopher and therefore build your metropolis. If you don't have enough room on your islands, even by destroying buildings, you still have to discard your four philosophers and gain nothing in return.
    </li>
    <li>Attacking an island with tokens on it
        <br />
When attacking and winning the fight for an island that has tokens on it (buildings or prosperity markers) you consider these tokens as yours.
    </li>
    <li>Tiebreaker
        <br />
The general tie-breaker is the amount of gold. However, if a player manages to have three metropolises at the end of the turn, he wins the game.
    </li>
</ol>

<h4>Mythological creatures</h4>
<ol start="8">
    <li>Buying mythological creatures
        <br />
When you buy a creature, you <u>must</u> use his ability <u>immediately</u>. If it is not Minotaur, Medusa, Chiron or Polyphemus, you discard the card.
For example, you cannot buy the Kraken, place it on the board, do one of your god actions and then pay one GP to move the kraken.

Sylph and Sphinx actions are the only creatures with optional actions, others are mandatory, if possible (e.g. if there are no philosophers to steal, you can still buy the Satyr).
    </li>
    <li>Chimera
        <br />
When Chimera arrives in the discard pile, whether it has been used, discarded with Zeus, or because no one bought it, you have to re-shuffle the creature deck and the discard pile.

You are not allowed to look in the discard pile unless you've already paid for the Chimera.
    </li>
    <li>Pegasus
        <br />
Pegasus is only one-way, you cannot retreat to the island you came from. You could retreat to one of your island if you had the necessary ships, as per the standard combat rules.
    </li>
    <li>The kraken
        <br />
Only the player who bought the kraken can pay gold to move it. When his turn is over, the kraken will stay where it is until someone else buy the card.
    </li>
    <li>Griffon and offerings
        <br />
Since you pay for your offerings before playing the god's actions, you will never be in the situation where a player cannot pay because half his money was stolen.
    </li>
    <li>Sylph
        <br />
You can move as many different fleets as you want for a total of 10 moves. If you attack during your moves, you can continue moving the after the fight (either with the same fleet if you survived, or with other ships).
    </li>
    <li>Minotaur/Medusa/Chiron/Polyphemus
        <br />
When a player buys these creatures, they will stay on the board until the beginning of this player's next turn, or until they are discarded by placing another one of these creatures on the same island.

In a 2-player game, they stay until the beginning of the player's first god actions on the next turn.
    </li>
    <li>Minotaur and no troops
        <br />
If the minotaur is alone on an island, the attacker has to win a round or get a draw (i.e. eliminate a troop) in order to beat the minotaur and remove it from the island. If the attacker still has troops left, he can then gain control of the island.
    </li>
    <li>Medusa and attacks
        <br />
Medusa does not prevent a player to attack the island she is on. However, this player won't be able to retreat (nobody can move <i>from</i> this island).
    </li>
</ol>

<h4>Gods actions</h4>
<ol start="17">
    <li>Order of actions
        <br />
The free action that every god (except Apollo) gives you (free priest, free philosopher, free troop or free ship) has to be carried out immediately and before any other action. After that, you can do as many actions as you want and in any order, provided that you have enough money.
    </li>
    <li>Free stuff
        <br />
As already mentioned in #5, you have to take the free action (ship, troop, priest or philosopher). The only exception would be for Ares and Poseidon when you don't have any troops/ships left in your supply, as mentioned in #2.
    </li>
</ol>

<h4>Miscellaneous</h4>
<ol start="19">
    <li>What's the use of the cardboard monster tokens ?
        <br />
The cardboard tokens were delivered with the Essen version, when the minis weren't ready yet. You can use them as replacements for the minis or as a reminder of who played the monster, instead of using the card.
    </li>
</ol>

