@{
    ViewData["Title"] = "Cyclades";
}

<h2>Cyclades</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "CycladesGuide" })</p>

<br /><br />

<p>@Html.ActionLink("FAQ", "Index", "Games", new { gamename = "CycladesFaq" })</p>
