@{
    ViewData["Title"] = "Life of the Amazonia";
}

<h2>Life of the Amazonia</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "LifeOfTheAmazoniaGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Cost Summary", "Index", "Games", new { gamename = "LifeOfTheAmazoniaCostSummary" })</p>

