@{
    ViewData["Title"] = "Llamaland Guide";
}

<h3>Setup</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <ul>
                <li>5 character cards in the display</li>
                <li>3 purple and 4 blue ojective cards
                    <ul>
                        <li><u>expert variant</u>3 gold cards replace purple cards</li>
                    </ul>
                </li>
                <li>Each player takes 3 foundation tiles, 4 color markers</li>
                <li>Start with $0 / 1 / 2 / 3</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <ul>
                <li>For each type of llama shuffle and select X cards</li>
                <li>Arrange cards of each type in descending order</li>
            </ul>

            <div class="table table-padding-p5">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <b>Players</b>
                    </div>
                    <div class="table-cell tc-1">2</div>
                    <div class="table-cell tc-1">3</div>
                    <div class="table-cell tc-1">4</div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <b>Cards</b>
                    </div>
                    <div class="table-cell tc-1">6</div>
                    <div class="table-cell tc-1">8</div>
                    <div class="table-cell tc-1">11</div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<hr />
<br />

<h3>1. Place 1 land tile</h3>

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <ul>
                <li>Take a land tile from the top of a pile, then extend or build</li>
                <li>May rotate or flip</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <p>
                Before building may place any number of foundation tiles
                <ul>
                    <li>can stack on top of other foundation tiles</li>
                    <li>do <b>not</b> award icon benefits</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">
            <h4>Extend</h4>
            <ul>
                <li>Expand base level</li>
                
                <li>At least 1 square must be orthogonal to part of the base</li>
                <li>Optional: place or move an objective marker
                    <ul>
                        <li>criteria is not checked until end game</li>
                        <li>empty objective card space</li>
                        <li>same or different card</li>
                        <li>max 1 marker per card per player</li>
                        <li><u>2-player</u>: middle space is blocked</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <h4>Build</h4>
            <ul>
                <li>Place on top of other tiles</li>
                <li>No gaps or llamas below the tile</li>
                <li>Cannot place entirely on top of the same shape</li>
                <li>No limit to height</li>
                <li>Collect benefits in any order
                    <ul>
                        <li>resource or coin - limited by supply</li>
                        <li>hut - take a character card from row or off deck</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<br /><br />

<h3>2. Feed 1 llama (optional)</h3>
<ul>
    <li>Max 1 llama</li>
    <li>Return 4 resources to take most valuable llama</li>
    <li>$2 = wild resource, no limit to number of substitutions</li>
    <li>10+ crops <span class="arrow"></span> <b>must</b> feed a llama</li>
    <li>Take a llama meeple, place in estate on empty space without an icon, any level
        <ul>
            <li><u>llama variant</u> llama must be placed on the new tile</li>
        </ul>
    </li>
</ul>

<br />
<hr />
<br />

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h3>Character cards</h3>
            <ul>
                <li>May use any/all once per turn</li>
                <li>May trigger before or after placing land tile</li>
                <li>Duplicate characters are allowed</li>
                <li>Passive bonus cards do not trigger on acquisition turn</li>
                <li>Activated cards can be used on acquisition turn</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <h3>End game</h3>
            <ul>
                <li><u>Trigger</u> 1 type of llama card OR 4 total land tiles remaining</li>
                <li>Finish current round</li>
            </ul>

            <br />

            <ul>
                <li>Llama card point values</li>
                <li>Leftover crops score 1:1</li>
                <li>Leftover coins score $2 = 1vp</li>
                <li>Objective cards (if criteria is met)</li>
                <li>Tie: more points from llama cards</li>
            </ul>
        </div>
    </div>
</div>

