@{
    ViewData["Title"] = "Lost Legacy Guide";
}

<style>
h3, h4, ol, ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-bottom: .5em;
}

ol, ul {
    margin-bottom: 1em;
}

li > ul {
    margin-bottom: 0;
}

footer {
    margin-bottom: 0;
}
</style>

No investigating if your card is X or matches another players's speed
If N-1 players are eliminated then the last remaining player wins the round
may still target an eliminated player's discards
Lost Legacy is shuffled into the deck when discarded, unless stated otherwise

<h3>Flying Garden</h3>

2 Necromancer: cannot return self to hand
5 Flying Garden: may be played, but will immediately shuffle into ruins
6 False Rumors: no effect if deck has 0 or 1 card
7 Storyteller: no effect during investigation if your card is X or matches speed

elimination: X wounds, 8 curse (similar to guard)
False Rumors ~= Chancellor
Adventurer ~= Chancellor

<h3>The Starship</h3>

4 Swordsman cancels X Sneak Attack
5 The Starship: cannot be played, shuffle into deck if the player holding it is eliminated

elimination: 4 Swordsman, X Sneak Attack,

2 General ~= Priest + King with deck
3 Shadow Thief ~= Priest
8 Assault ~= Priest + King with another player
7 Search ~= Priest + King with ruins


<h3>Vorpal Sword</h3>

elimination: 1 Medusa, 5 Vorpal Sword, X Rotting Miasma

1 Medusa
2 Lord of Rot: only triggers when initally played
3 Dreamreader
4 Prince: unplayed cards go back to ruins
5 Vorpal Sword ~= Baron
6 Seal ~= Prince
7 Intrusion ~= King
8 Scout ~= Priest
X Rotting Miasma ~= guard

<h3>Whitegold Spire</h3>

finding the Lost Legacy does not automatically win the game
surviving players add their hand to their discard
add investigation speed of all face-up cards
add bonuses from effects
face-down cards do not contribute points
highest point total wins

elimination:

1 Street Performer: taken card maintains its orientation, ignore effect unless stated otherwise
2 Guard: still affects eliminated players
3 Phantom Thief: complete the effect before adding Phantom Thief to your discards, eliminated players are ignored
4 Alchemist: ignore card effect when put in your discard, unless stated otherwise
5 Whitegold Spire: place it face-up in your discard if someone else finds your Whitegold Spire
6 Taxes: eliminated players are still affected
7 Black Market Dealer ~= King
8 Income
X False Gold: multiple False Golds in discard will be worth the same value


<h3>Sacred Grail</h3>

elimination: False Grail

1 & 5 -> instant win, unless someone shows a 3

1 (o) Queen ~= Priest
2 King ~= Priest 
3 (o) Cardinal
4 (o) Baron
5 Sacred Grail
6 Spy ~= Priest
7 Grail Quest: skipped turns do not apply to investigation
8 False Grail ~= guard
X Royal Court: 1 or LL? it includes hand and discards

<h3>Staff of Dragons</h3>

elimination: 3 Tyrant Dragon, 4 Ancient Dragon, X Berserk

1 Maiden of Dragons
2 Chieftan
3 Tyrant Dragon: face-up cards only
4 Ancient Dragon: face-up cards only
5 Staff of Dragons
6 Separation ~= King for other players
7 Negotiation
8 Forced March ~= reverse Priest
X Berserk ~= Priest

<h3>The Werewolf</h3>

elimination: 3 Village Council, 8 Full Moon

1 Villager ~= handmaid
2 Fortune Teller ~= Chancellor, begins on next turn
3 Village Council ~= Baron, tied players are all eliminated, VC player wins if this eliminates all remaining players, may resolve without eliminating anyone (e.g. player is protected)
4 Beastmaster: X is not a number
5 The Werewolf: shuffle into ruins, may be played (then shuffled into ruins)
6 Premonition: revealing to get the bonus turn is optional, nullifies Beastmaster missed turn effect
7 Woodsman
8 Full Moon ~= Baron, may use either card if you have multiple (2 Fortune Teller) but this is optional
X Wolf Attack ~= Priest, with multiple X's may mix and match ruins and an opponent's hand (multiple opponents???)

<h3>Undying Heart</h3>

elimination: 4 Crypt Raider, 6 Force of Will, X Blood Moon

1 Spectre
2 Vampire Lord ~= handmaid, cannot use if deck is empty
3 Vampire Hunter
4 Crypt Raider
5 Undying Heart
6 Force of Will ~= Baron
7 Dark Pact ~= King
8 Holy Ground
X Blood Moon ~= Priest