@{
    ViewData["Title"] = "Gaia Project Guide";
}

<style>
img {
    width: 75px;
}

footer {
    margin-bottom: 0;
}

.boxwrap {
    position: relative;
    height: 25px;
}

.box {
    border: 1px solid black;
    position: absolute;
    width: 20px;
    height: 20px;
}
</style>

<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-5">
            <h3>Setup</h3>
            <ul>
                <li>[N+3] Round boosters, remaining go to box</li>
                <li>Set aside all 3 Gaiaformers</li>
                <li>Take QIC if printed on board</li>
                <li>Gain bonuses for research upgrades during setup</li>
                <li>1p or 2p: add a neutral satellite to final scoring tiles</li>
                <li>Snake draft with 2 mines
                    <ul>
                        <li>Home planets only</li>
                        <li>No power charges at setup</li>
                        <li>Xenos place 3rd mine after all others</li>
                        <li>Ivits place planetary institute after Xenos 3rd mine</li>
                    </ul>
                </li>
                <li>Choose boosters in reverse order</li>
                <li>Race specific
                    <ul>
                        <li>Taklons: brainstone</li>
                        <li>Gleens: special federation token</li>
                        <li>Ivits: six space stations</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="table-cell tc-7">
            <h3>Notes</h3>
            <ul>
                <li>Gained power goes to area I; may only spend power from area III</li>
                <li>Income phase is <u>before</u> the Gaia phase</li>
                <li>Building on a Gaia planet costs 1 QIC to Terraform</li>
                <li>Building over a Gaiaformer does <u>not</u> cost 1 QIC</li>
                <li>Planets with Gaiaformers cannot be used for access to other planets (<span style="font-size: 9pt">p.12 <u>Accessibility</u></span>)</li>
                <li>Cannot take duplicate tech tiles, even if one is covered</li>
                <li>Advance in research track after taking a tech tile
                    <ul>
                        <li>top 6 basic: matching track</li>
                        <li>advanced or other basic: any</li>
                    </ul>
                </li>
                <li>Advanced tech
                    <ul>
                        <li>must be at level 4 or 5 of that track</li>
                        <li>must flip a federation token from green to gray</li>
                        <li>must have an uncovered standard tech tile</li>
                        <li>cannot cover advanced tech with advanced tech</li>
                    </ul>
                </li>
                <li>Taklons must charge power for the power gain</li>
                <li>Nevlas can "combine" power spending points for the free actions</li>
            </ul>
        </div>
    </div>
</div>

<br /><br />

<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-6">
            3p / 4p
        </div>
        <div class="table-cell tc-6">
            1p / 2p
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">
            <img src="~/lib/Images/GaiaProject/solid.png" />
        </div>
        <div class="table-cell tc-6">
            <img src="~/lib/Images/GaiaProject/outline.png" />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">
            <div class="boxwrap">
                <div class="box" style="left: 10px;">10</div>
                <div class="box" style="left: 35px;">01</div>
                <div class="box" style="left: 60px;">05</div>
            </div>
            <div class="boxwrap">
                <div class="box" style="">09</div>
                <div class="box" style="left: 25px;">02</div>
                <div class="box" style="left: 50px;">03</div>
                <div class="box" style="left: 75px;">06</div>
            </div>
            <div class="boxwrap">
                <div class="box" style="left: 10px;">08</div>
                <div class="box" style="left: 35px;">04</div>
                <div class="box" style="left: 60px;">07</div>
            </div>
        </div>
        <div class="table-cell tc-6">
            <div class="boxwrap">
                <div class="box" style="left: 10px;">01</div>
                <div class="box" style="left: 35px;">05</div>
            </div>
            <div class="boxwrap">
                <div class="box" style="">02</div>
                <div class="box" style="left: 25px;">03</div>
                <div class="box" style="left: 50px;">06</div>
            </div>
            <div class="boxwrap">
                <div class="box" style="left: 10px;">04</div>
                <div class="box" style="left: 35px;">07</div>
            </div>
        </div>
    </div>
</div>

<br /><br />

<h3>End Game</h3>
<ul>
    <li>Score both progress tracks; tie: add & divide (p. 18)</li>
    <li>4 points per research level beyond level 2</li>
    <li>1 point per 3 credits/knowledge/ore in any combination</li>
</ul>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h3>1. Income Phase</h3>
            <p>Choose order for each income icon, but fully resolve each</p>
            <ul>
                <li>faction board</li>
                <li>round boosters</li>
                <li>tech tiles</li>
                <li>research board</li>
            </ul>

        </div>
        <div class="table-cell tc-6">
            <h3>2. Gaia Phase</h3>
            <ul>
                <li>Move power: Gaia <span class="arrow"></span> Area I</li>
                <li>Slide a Gaia token under all Gaiaformers that are on transdim planets</li>
                <li>Gaiaformer remains until a mine is built there</li>
                <li>Itars use special ability first, then other players & Terran special ability</li>
            </ul>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12">
            <hr />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">
            <h3>3. Action Phase</h3>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">
            <h4>Build a mine</h4>
            <ul>
                <li>Empty</li>
                <li>Accessible: within navigation range of a colonized planet
                    <ul>
                        <li>boost range with QIC</li>
                        <li>Gaiaformer &ne; colonized</li>
                    </ul>
                </li>
                <li>Habitable
                    <ul>
                        <li>home planet or use terraforming, <i>or</i></li>
                        <li>QIC for Gaia planets <i>or</i></li>
                        <li>mine cost for Gaia planet with Gaiaformer</li>
                    </ul>
                </li>
            </ul>

            <h4>Start a Gaia Project</h4>
            <ul>
                <li>Move power to Gaia area</li>
                <li>May take from any combination of areas I, II, III</li>
            </ul>

            <h4>Upgrade Existing Structures</h4>
            <ul>
                <li><u>Trading Station</u> discount within 2 spaces of an opponent</li>
                <li><u>Planetary Institute</u> gain faction ability</li>
                <li><u>Research Lab</u> gain tech</li>
                <li><u>Academy</u> choose left or right, gain tech</li>
            </ul>

            <h4>Form a Federation: </h4>
            <ul>
                <li>7 building power</li>
                <li>Discard 1 power per satellite</li>
                <li>Spaces can hold 1 satellite per player</li>
                <li>Must connect all necessary planets a in single action</li>
                <li>May choose planets further away, but must still take shortest path</li>
                <li>Cannot needlessly include planets with extra satellites</li>
                <li>Gain a federation token, green side up</li>
            </ul>

        </div>
        <div class="table-cell tc-6">

            <h4>Research Progress</h4>
            <ul>
                <li>4 knowledge</li>
                <li>Max 1 player at level 5 per track</li>
                <li>Advancing to level 5: must flip a federation token from green to gray</li>
            </ul>

            <h4>Power and QIC actions</h4>
            <ul>
                <li>Limt 1<span class="cross"></span> per round</li>
                <li>Spend power or QIC</li>
            </ul>

            <h4>Special Actions</h4>
            <ul>
                <li>Board</li>
                <li>Booster</li>
                <li>Tech</li>
            </ul>

            <h4>Pass</h4>
            <ul>
                <li>Move turn order cube</li>
                <li>Take <i>any</i> available round booster</li>
                <li>Return current round booster (mandatory, now available for others)</li>
                <li>Apply any red arrow triggers for passing</li>
            </ul>

            <h4>Free actions</h4>
            <ul>
                <li>Power <span class="arrow"></span> resources</li>
                <li>Discard 1 power from area II to move a token from II to III, may do this even if you have power in area I</li>
            </ul>

            <h4>Charge power</h4>
            <ul>
                <li>Reaction to a build or upgrade</li>
                <li>Other players may charge power for a building within 2</li>
                <li>1 building max, must choose structure with highest power</li>
                <li>0 / 1 / 2 / 3 vp <span class="arrow"></span> 1 / 2 / 3 / 4 power</li>
                <li>Players who have passed may still charge power</li>
                <li>Edge cases: charge max, vp floor</li>
            </ul>

        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12">
            <hr />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">

            <h3>4. Clean-Up</h3>
            <ul>
                <li>Flip boosters face-up</li>
                <li>Reset action tokens</li>
                <li>Remove round scoring tile</li>
            </ul>

        </div>
    </div>
</div>



@*<h3>Phases</h3>
<ol>
    <li>Income: choose the order to charge or gain power, fully resolve before moving on
        <ul>
            <li>faction board</li>
            <li>round boosters</li>
            <li>tech tiles</li>
            <li>research board</li>
        </ul>
    </li>
    <li>Gaia: move power in Gaia area to area I
        <ul>
            <li>Place a Gaia planet token under any Gaiaformers on transdim planets</li>
            <li>Gaiaformer remains until a mine is built there</li>
            <li>Itars use special ability first, then other players & Terran special ability</li>
        </ul>
    </li>
    <li>Actions
        <ul>
            <li>Build a mine
                <ul>
                    <li>Empty</li>
                    <li>Accessible: boost range with QIC, Gaiaformer &ne; colonized</li>
                    <li>Habitable - Terraform / QIC / Gaiaformer</li>
                </ul>
            </li>
            <li>Start a Gaia Project
                <ul>
                    <li>Move power to Gaia area, in any combination from areas I, II, III</li>
                </ul>
            </li>
            <li>Upgrade existing structures
                <ul>
                    <li>Trading Station: cheaper if within 2 spaces of an opponent</li>
                    <li>Planetary Institute: gain faction ability</li>
                    <li>Research Lab: gain tech</li>
                    <li>Academy: choose which, gain tech</li>
                </ul>
            </li>
            <li>Form a federation: min. 7 building power
                <ul>
                    <li>Discard 1 power per satellite</li>
                    <li>Spaces can hold 1 satellite per player</li>
                    <li>Must connect all necessary planets a in single action</li>
                    <li>May choose planets further away, but must still take shortest path</li>
                    <li>Cannot needlessly include planets with extra satellites</li>
                    <li>Gain a federation token, green side up</li>
                </ul>
            </li>
            <li>Research progress
                <ul>
                    <li>4 knowledge</li>
                    <li>Max 1 player at level 5 per track</li>
                    <li>Advancing to level 5: must flip a federation token from green to gray</li>
                </ul>
            </li>
            <li>Power and QIC actions</li>
            <li>Special actions: board, booster, tech</li>
            <li>Pass
                <ul>
                    <li>Move turn order cube</li>
                    <li>Take <i>any</i> available round booster</li>
                    <li>Return current round booster (mandatory, now available for others)</li>
                    <li>Apply any red arrow triggers for passing</li>
                </ul>
            </li>
            <li>Free actions
                <ul>
                    <li>Power <span class="arrow"></span> resources</li>
                    <li>Discard 1 power from area II to move a token from II to III, may do this even if you have power in area I</li>
                </ul>
            </li>
            <li>Charge power (passive): after build/upgrade, other players may charge power for a building within 2
                <ul>
                    <li>1 building max, must choose structure with highest power</li>
                    <li>0/1/2/3 vp <span class="arrow"></span> 1/2/3/4 power</li>
                    <li>Players who have passed may still charge power</li>
                    <li>Edge cases: charge max, vp floor</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Clean-Up
        <ul>
            <li>Flip boosters face-up</li>
            <li>Reset action tokens</li>
            <li>Remove round scoring tile</li>
        </ul>
    </li>
</ol>

*@