@{
    ViewData["Title"] = "Galaxy Trucker Connection Rules";
}

<div class="table table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-2">
            Component
        </div>
        <div class="table-cell tc-2">
            Battery
        </div>
        <div class="table-cell tc-2">
            Direct Join
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Double Cannon
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
        <div class="table-cell tc-2">
            no
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Double Engine
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
        <div class="table-cell tc-2">
            no
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Shield Generator
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
        <div class="table-cell tc-2">
            no
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Alien Life Support
        </div>
        <div class="table-cell tc-2">
            no
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Bi-Directional Cannon
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
        <div class="table-cell tc-2">
            no
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Cannon Booster
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Engine Booster
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Shield Booster
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Reactor Furnace
        </div>
        <div class="table-cell tc-2">
            no
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Solar Panel
        </div>
        <div class="table-cell tc-2">
            replaces
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Thruster
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
        <div class="table-cell tc-2">
            no; yes for intruders
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Router Module
        </div>
        <div class="table-cell tc-2">
            no
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Crubot Station
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
        <div class="table-cell tc-2">
            no
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Auto-Defense System
        </div>
        <div class="table-cell tc-2">
            no
        </div>
        <div class="table-cell tc-2">
            yes for +1
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Armory
        </div>
        <div class="table-cell tc-2">
            no
        </div>
        <div class="table-cell tc-2">
            yes
        </div>
    </div>
</div>




