@{
    ViewData["Title"] = "Galaxy Trucker";
}

<h2>Galaxy Trucker</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "GalaxyTruckerGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Card and Component Reference", "Index", "Games", new { gamename = "GalaxyTruckerCardCompRef" })</p>

<br /><br />

<p>@Html.ActionLink("Titles", "Index", "Games", new { gamename = "GalaxyTruckerTitles" })</p>

<br /><br />

<p>@Html.ActionLink("Connection Rules", "Index", "Games", new { gamename = "GalaxyTruckerConnectionRules" })</p>

