@{
    ViewData["Title"] = "Terraforming Mars Scoring";
}

<style>
/*.rotate1 {
    transform:rotate(90deg) scale(.62) translate(500px, 700px);
}

.rotate2 {
    transform:rotate(90deg) scale(.55) translate(140px, 850px);
}

.rotate3 {
    transform:rotate(90deg) scale(.8) translate(450px, 18px);
}
*/

.milestone1 {
    width: 798px;
}

.milestone2 {
    /*width: 662px;*/
    width: 692px;
}

.milestone3 {
    /*width: 97px;*/
    width: 102px;
}

.award1 {
    width: 765px;
}

.award2 {
    width: 611px;
    /*width: 603px;*/
}

.award3 {
    width: 151px;
    /*width: 144px;*/
}

footer {
    margin-bottom: 0;
}
</style>

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <img src="~/lib/Images/TerraformingMars/standardprojects.png" />

            <br />

            <img src="~/lib/Images/TerraformingMars/airscrapping.png" />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12" style="padding-top:4em; text-align:center">
            <img src="~/lib/Images/TerraformingMars/milestoneheader.png" class="milestone1" />

            <img src="~/lib/Images/TerraformingMars/milestoneitems.png" class="milestone2" />
            <img src="~/lib/Images/TerraformingMars/hoverlord.jpg" class="milestone3" />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12" style="padding-top:4em; text-align:center">
            <img src="~/lib/Images/TerraformingMars/awardheader.png" class="award1" />

            <img src="~/lib/Images/TerraformingMars/awarditems.png" class="award2" />
            <img src="~/lib/Images/TerraformingMars/venuphile.png" class="award3" />
        </div>
    </div>
</div>

