@{
    ViewData["Title"] = "Terraforming Mars Horror";
}

<h2>Terraforming Mars</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "TerraformingMarsGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Scoring Summary", "Index", "Games", new { gamename = "TerraformingMarsScoring" })</p>

<br /><br />

<p>@Html.ActionLink("Standard Projects", "Index", "Games", new { gamename = "TerraformingMarsStandardProjects" })</p>

