@{
    ViewData["Title"] = "Five Tribes Guide";
}

<style>
hr {
}
</style>

<h3>Setup</h3>

<div class="table table-80 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-2 tc-push-2">
            <b>Base</b>
        </div>
        <div class="table-cell tc-2 tc-push-2">
            <b>Artisans</b>
        </div>
        <div class="table-cell tc-2 tc-push-2">
            <b>Whims</b>
        </div>
        <div class="table-cell tc-2 tc-push-2">
            <b>Both</b>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <b>Inner Grid</b>
        </div>
        <div class="table-cell tc-2">
            no special rules
        </div>
        <div class="table-cell tc-2">
            <u>4<span class="cross"></span>4</u>
            <ul style="padding-left: 1em; font-size: 10pt">
                <li>10 random Base</li>
                <li>add all 6 Artisan</li>
            </ul>
        </div>
        <div class="table-cell tc-2">
            no special rules
        </div>
        <div class="table-cell tc-2">
            <u>4<span class="cross"></span>5</u>
            <ul style="padding-left: 1em; font-size: 10pt">
                <li>mix all Base with Whims, draw 14</li>
                <li>add all 6 Artisan</li>
            </ul>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <b>Full Grid</b>
        </div>
        <div class="table-cell tc-2">
            5<span class="cross"></span>6
        </div>
        <div class="table-cell tc-2">
            6<span class="cross"></span>6
        </div>
        <div class="table-cell tc-2">
            6<span class="cross"></span>6
        </div>
        <div class="table-cell tc-2">
            6<span class="cross"></span>7
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-10"><hr /></div>
    </div>
</div>

<br />

<div class="table table-60">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h3>Player Turn</h3>
            <ol>
                <li>Move Turn Marker</li>
                <li>Move Meeples</li>
                <li>Tile control check</li>
                <li>Tribe action</li>
                <li>Tile action</li>
                <li>Merchandise sale (optional)</li>
            </ol>
        </div>
        <div class="table-cell tc-6">
            <h3>Cleanup</h3>
            <ul>
                <li>Replenish resource cards (9)</li>
                <li>Replenish Djinn cards (3)</li>
                <li><u>Whims</u> Replenish Whims cards (5)</li>
                <li><u>Thieves</u> Replenish thief card (1)</li>
            </ul>
        </div>
    </div>
</div>

<h3>Special Tiles</h3>
<p><b>Chasm</b> and <b>Great Lakes</b> impassable, can never have meeples either during setup or gameplay</p>

<hr width="60%" align="left" />

<h3>Artisans of Naqala</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-4">
            <h4>Tribe Action</h4>
            <ul>
                <li>Pick up X meeples</li>
                <li>Reveal X items, keep <b>one</b></li>
            </ul>
        </div>
        <div class="table-cell tc-4">
            <h4>Workshop Action</h4>
            <ul>
                <li>Spend 1 Artisan or 2 Fakirs</li>
                <li>Take top item</li>
            </ul>
        </div>

        <div class="table-row">
            <div class="table-cell tc-4">
                <h4>Mountains</h4>
                <ul>
                    <li>Block meeple movement </li>
                    <li>Ignore for assassin range</li>
                    <li>Ignore for blue/red tile adjacency</li>
                </ul>
            </div>
            <div class="table-cell tc-4">
                <h4>Magic items</h4>
                <ul>
                    <li>Play any time, including right away</li>
                    <li>Limit 1 item per turn</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr width="60%" align="left" />

<h3>Whims of the Sultan</h3>

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-3">
            <h4>Fabulous City Points</h4>
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        1
                    </div>
                    <div class="table-cell tc-2">
                        2
                    </div>
                    <div class="table-cell tc-2">
                        3
                    </div>
                    <div class="table-cell tc-2">
                        4
                    </div>
                    <div class="table-cell tc-2">
                        5
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-2">
                        5
                    </div>
                    <div class="table-cell tc-2">
                        20
                    </div>
                    <div class="table-cell tc-2">
                        45
                    </div>
                    <div class="table-cell tc-2">
                        80
                    </div>
                    <div class="table-cell tc-2">
                        125
                    </div>
                </div>
            </div>
        </div>
        <div class="table-cell tc-6">
            <h4>Fabulous City Action</h4>
            <p>Add the Whim card to hand (if present)</p>

            <br /><br />

            <p>15 meeples, 3 of each non-purple color</p>
        </div>
    </div>
</div>

<br /><br />
<hr width="60%" align="left" />

<h3>Thieves</h3>

<ul>
    <li>Reveal 1 thief card</li>
    <li>When buying a Djinn, may instead buy a thief</li>
    <li>Tribe action <span class="arrow"></span> may activate & discard matching thief</li>
    <li>Cannot acquire & use thief on the same turn</li>
    <li>Effects that apply to Djinns do not apply to thieves</li>
    <li>Replenish thief card during cleanup</li>
</ul>

<div class="table table-60 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-2">
            <b><u>Color</u></b>
        </div>
        <div class="table-cell tc-5">
            <b><u>Other players discard ...</u></b>
        </div>
        <div class="table-cell tc-5">
            <b><u>Thief claims ...</u></b>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">
            Red
        </div>
        <div class="table-cell tc-5">
            1 camel from a tile
        </div>
        <div class="table-cell tc-5">
            1 of the tiles, using a camel
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">
            Blue
        </div>
        <div class="table-cell tc-5">
            1 palm tree or palace
        </div>
        <div class="table-cell tc-5">
            1 palm tree or palace, add to <b>any</b> tile
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">
            Green
        </div>
        <div class="table-cell tc-5">
            2 resources
        </div>
        <div class="table-cell tc-5">
            2 of the discarded resources
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">
            Yellow 
        </div>
        <div class="table-cell tc-5">
            1 Vizier
        </div>
        <div class="table-cell tc-5">
            1 of the discarded Vizier
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">
            White 
        </div>
        <div class="table-cell tc-5">
            1 Djinn
        </div>
        <div class="table-cell tc-5">
            1 of the discarded Djinns
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">
            Purple 
        </div>
        <div class="table-cell tc-5">
            1 precious or magic item
        </div>
        <div class="table-cell tc-5">
            1 of the items
        </div>
    </div>
</div>




