@{
    ViewData["Title"] = "Fury of Dracula";
}

<h2>Fury of Dracula</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "FuryOfDraculaGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Combat Cards", "Index", "Games", new { gamename = "FuryOfDraculaCombatCards" })</p>


