@{
    ViewData["Title"] = "Fury of Dracula Combat Cards";
}


<div class="table table-50">
    <div class="table-row">
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/fangs.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/strength.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/crucifix.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/garlic.png" /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/claws.png" /></div>
        <div class="table-cell tc-3">&nbsp;</div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/heavenly-host.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/knife.png" /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/plotting.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/mesmerize.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/pistol.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/rifle.png" /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/escape-as-mist.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/escape-as-bat.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/holy-circle.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/punch.png" /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-3">&nbsp;</div>
        <div class="table-cell tc-3">&nbsp;</div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/dodge.png" /></div>
        <div class="table-cell tc-3"><img class="" src="~/lib/Images/FuryOfDracula/escape.png" /></div>
    </div>
</div>

<style>
    .table img {
        width: 200px;
    }
</style>
