@{
    ViewData["Title"] = "Mission: Red Planet";
}

<h2>Mission: Red Planet</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "MissionRedPlanetGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Maps", "Index", "Games", new { gamename = "MissionRedPlanetMaps" })</p>

<br /><br />

<p>@Html.ActionLink("Event Cards", "Index", "Games", new { gamename = "MissionRedPlanetCards" })</p>
