@{
    ViewData["Title"] = "Mission: Red Planet Guide";
}

<h3>Setup</h3>
<ul>
    <li>N ships</li>
    <li>Replace any blank-destination ships</li>
    <li>If 0 Phobos ships: add Phobos token rightmost ship</li>
    <li>Randomly place 1 astronaut on each ship</li>
    <li>Mission cards: deal 2, keep 1</li>
    <li>Event Deck: Discovery + Action + Mission cards</li>
</ul>

<h3>Reminders</h3>
<ul>
    <li>First astronaut in a blank ship also adds a destination</li>
    <li>No discovery cards under Phobos</li>
    <li>For mission cards, tied for first is sufficient for "the most"</li>
    <li>Max 1 discovery card per zone</li>
    <li>"Uneven/Even ground": use actual astronaut number for final scoring beyond 3rd production phase, e.g. for mission cards</li>
    <li>"Mining Incident" takes priority over "synergy," no point tokens are placed</li>
    <li>"Subterfuge" ignore if 2+ tied for most; otherwise treat 2nd as most</li>
</ul>

<h3>Characters</h3>
<ul>
    <li>Fully resolve a card effect before launching ship(s)</li>
    <li>6 Secret Agent: May launch a ship with 0 astronauts</li>
    <li>4 Femme Fatale: May replace in a docked ship, launched ship, Mars, or Phobos</li>
    <li>2 Soldier: Cannot kill in Syrtis Major or Valles Marineris, may kill your own astronauts, must move at least 1 astronaut</li>
    <li>1 Pilot: May place a destination token on a docked or launched ship and on top of other destination tokens</li>
</ul>
