@{
    ViewData["Title"] = "Brass Guide";
}

<ul>
    <li>you can use [city] as a network connector</li>
    <li>only get selling bonus for using beer on the customer tile</li>
    <li>you may place Pottery I during rail age, even though it is "outdated" tech at this point</li>
    <li>the Gloucester develop action does not consume iron</li>
    <li>when building, must place tile on a space displaying <i>only</i> that industry's icon, if possible
        <ul>
            <li>this rule does not apply to selling</li>
        </ul>
    </li>
</ul>



