@{
    ViewData["Title"] = "Bunny Kingdom Guide";
}

<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h3>Setup</h3>
            <ul>
                <li>36 rabbits (2 for scoring)</li>
                <li>Add cities</li>
            </ul>
            
            <h3>Notes</h3>
            <ul>
                <li>Phases
                    <ol>
                        <li>Exploration: draft</li>
                        <li>Construction: add buildings</li>
                        <li>Harvest: score points</li>
                    </ol>
                </li>
                <li>Fiefs are split by lava flows</li>
                <li>Fiefs do not connect diagonally</li>
                <li>Matriarch parchment: 0pt if tied for most</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <h3>Construction Phase</h3>
            <ul>
                <li>Building = City or token</li>
                <li>Placing a building is optional; may save for a later round</li>
                <li>Cannot move buildings</li>
                <li>Max. 1 building per territory</li>
                <li>Buildings do not negate territory's natural production</li>
            </ul>
            
            <h3>Building Tokens</h3>
            <ul>
                <li>Farm: increases wealth</li>
                <li>Sky Tower: connects 2 territories in different fiefs</li>
                <li>Camp: take control of empty territory
                    <ul>
                        <li>Priority order</li>
                        <li>Physical card removes camp and claims territory</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<h3>Expansion</h3>
<ul>
    <li>10 additional rabbits</li>
    <li>Add cities, rainbow & wondrous farm tokens</li>
    <li>Carrotadel: fief strength = max(5, <span class="sigma"></span>non-carrotadels)</li>
    <li>District: fief with 2<sup>+</sup> rabbits
        <ul>
            <li>Collect $1 each time a district is initially formed</li>
            <li>$1 only for first placement of rainbow token</li>
            <li>EOG score: coins X [luxury + wondrous]</li>
        </ul>
    </li>
    <li>Carrotadels count as cities for parchments</li>
    <li>Diplomat & Explorer: edges & corners of cloud board count</li>
</ul>


