@{
    ViewData["Title"] = "Quacks of Quedlinburg";
}

<h2>Quacks of Quedlinburg</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "QuacksOfQuedlinburgGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Tokens", "Index", "Games", new { gamename = "QuacksOfQuedlinburgTokens" })</p>
