<style>
.icontable .table-cell {
    padding-bottom: 1.5em;
}

.distanceicon {
    max-width: 130px;
}

.leftpadding {
    padding-left: 30px;
}
</style>

<div class="table icontable">
    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/scope.png" class="distanceicon" />
        </div>
        <div class="table-cell tc-4">
            <p>Spend 1 cube to add 1 damage</p>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/distance0.png" class="distanceicon" />
        </div>
        <div class="table-cell tc-4">
            <p>Target is on your own square</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/tagback.png" class="distanceicon" />
        </div>
        <div class="table-cell tc-4">
            Response: give attacker 1 mark<br />(requires vision)
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/distance1.png" class="distanceicon" />
        </div>
        <div class="table-cell tc-41">
            <p>Target is <i>exactly</i> 1 space away</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Adrenaline/damagemarkall.png" class="leftpadding" />
        </div>
        <div class="table-cell tc-4 tc-push-1">
            <p>Damage or mark <i>all</i> opponents</p>
        </div>
        <div class="table-cell tc-2 tc-push-1">
            <img src="~/lib/Images/Adrenaline/distance1min.png" class="distanceicon" />
        </div>
        <div class="table-cell tc-4 tc-push-1">
            <p>Target is <i>at least</i> 1 space away</i></p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Adrenaline/damagemark.png" class="leftpadding" />
        </div>
        <div class="table-cell tc-4 tc-push-1">
            <p>Damage or mark a single opponent</p>
        </div>
        <div class="table-cell tc-2 tc-push-1">
            <img src="~/lib/Images/Adrenaline/distance2min.png" class="distanceicon" />
        </div>
        <div class="table-cell tc-4 tc-push-1">
            <p>Target is <i>at least</i> 2 spaces away</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Adrenaline/moveself.png" class="leftpadding" />
        </div>
        <div class="table-cell tc-4 tc-push-1">
            <p>Move yourself 1 space</p>
        </div>
        <div class="table-cell tc-2 tc-push-1">
            <img src="~/lib/Images/Adrenaline/distanceanotherroom.png" class="distanceicon" />
        </div>
        <div class="table-cell tc-4 tc-push-1">
            <p>Target a room you can see, but not your own</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Adrenaline/movetarget.png" class="leftpadding" />
        </div>
        <div class="table-cell tc-4 tc-push-1">
            <p>Move your target 1 space</p>
        </div>
    </div>
</div>

<hr />

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h4>Tractor Beam</h4>
            <ul>
                <li>Choose a square you can see</li>
                <li>You do not need to see the target</li>
                <li>Moves can change directions</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <h4>Vortex Cannon</h4>
            <ul>
                <li>Choose a square you can see - "vortex"</li>
                <li>You do not need to see the target</li>
                <li>Targets can start on different squares, all are pulled to vortex</li>
            </ul>
        </div>
    </div>
</div>
