<div class="titlewrap">
    <div class="count">
        <h4>5</h4>
    </div>

    <h3>Medium Game</h3>
</div>

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-4">
            <b><u>Condition</u></b>
        </div>
        <div class="table-cell tc-3">
            <b><u>Trigger</u></b>
        </div>
        <div class="table-cell tc-5">
            <b><u>Points</u></b>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Markets
        </div>
        <div class="table-cell tc-3">
            7
        </div>
        <div class="table-cell tc-5">
            Wood icons
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Ports
        </div>
        <div class="table-cell tc-3">
            7
        </div>
        <div class="table-cell tc-5">
            Temples
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Temples
        </div>
        <div class="table-cell tc-3">
            7
        </div>
        <div class="table-cell tc-5">
            Character + Progress
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Towns
        </div>
        <div class="table-cell tc-3">
            7
        </div>
        <div class="table-cell tc-5">
            Explorer tokens
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Progress Cards
        </div>
        <div class="table-cell tc-3">
            12
        </div>
        <div class="table-cell tc-5">
            Money
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Character Cards
        </div>
        <div class="table-cell tc-3">
            12
        </div>
        <div class="table-cell tc-5">
            Fish
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Explorer Piles
        </div>
        <div class="table-cell tc-3">
            3 empty
        </div>
        <div class="table-cell tc-5">
            Iron icons
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Population
        </div>
        <div class="table-cell tc-3">
            42
        </div>
        <div class="table-cell tc-5">
            Ports + Markets
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Bank Resources (Pacifist)
        </div>
        <div class="table-cell tc-3">
            3 depleted
        </div>
        <div class="table-cell tc-5">
            Pop. - Rebellion > 12
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-4">
            Bank money<br />(Separatist)
        </div>
        <div class="table-cell tc-3">
            Empty
        </div>
        <div class="table-cell tc-5">
            Instant win
        </div>
    </div>
</div>
