<div class="table">
    <div class="table-row">
        <div class="table-cell tc-4">
            <h3>Voter Definitions</h3>
            <div class="table flow-table">
                <div class="table-row">
                    <div class="table-cell tc-5">
                        <h4>Undecided</h4>
                        <p>general supply</p>
                    </div>
                </div>
            
                <div class="table-row">
                    <div class="table-cell tc-5">
                        <img class="arrow" src="~/lib/Images/Icons/arrow-down.png" />
                    </div>
                </div>
            
                <div class="table-row">
                    <div class="table-cell tc-5">
                        <h4>Registered</h4>
                        <p>personal supply,<br />available to deploy</p>
                    </div>
                </div>
            
                <div class="table-row">
                    <div class="table-cell tc-5">
                        <img class="arrow" src="~/lib/Images/Icons/arrow-down.png" />
                    </div>
                </div>
            
                <div class="table-row">
                    <div class="table-cell tc-5">
                        <h4>Committed</h4>
                        <p>on the board</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="table-cell tc-8">
            <h3>Adjacency</h3>
            <ul>
                <li>CA & HI</li>
                <li>WA & AK</li>
                <li>DE & NJ</li>
                <li>DC & MD</li>
                <li>DC & VA</li>
                <li>AZ & CO</li>
                <li>NM & UT</li>
            </ul>
            
            <h3>Politick Actions</h3>
            <ul style="list-style: none; padding-left: 0;">
                <li style="line-height: 40px;"><img class="icon" src="~/lib/Images/CampaignTrail/instant.png" /> Instant</li>
                <li style="line-height: 40px;"><img class="icon" src="~/lib/Images/CampaignTrail/ongoing.png" /> Ongoing - activates next turn, not available to teammate</li>
                <li style="line-height: 40px;"><img class="icon" src="~/lib/Images/CampaignTrail/response.png" /> Response - play on opponents' turns</li>
            </ul>

        </div>
    </div>
</div>