<h3>Special Rooms</h3>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-6">
            <p class="underline">Crystal Cave</p>
            <p>After entering: no more <img src="~/lib/Images/Clank/boot.png" class="icon" /> this turn (may still teleport)</p>

            <p class="underline">Flooded Room</p>
            <p style="margin-bottom: 0;">If starting turn here, either</p>
            <ul style="margin-top: 0;">
                <li>have scuba</li>
                <li>enter a non-flooded room during the turn</li>
                <li>take 1 damage</li>
                <li>knocked out (unable to take more damage)</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <p class="underline">Gold Veins</p>
            <ul style="margin-top: 0;">
                <li>May use <img src="~/lib/Images/Clank/2skill.png" class="icon" /> to dig the vein and collect that much gold</li>
                <li>Add a clank cube to show it cannot be mined again</li>
                <li>After mining: no more <img src="~/lib/Images/Clank/boot.png" class="icon" /> this turn (but teleporting is still allowed)</li>
            </ul>

            <p class="underline">Webbed Rooms</p>
            <p>After entering: claim item by spending <img src="~/lib/Images/Clank/sword.png" class="icon" /></p>
        </div>
    </div>
</div>
