<h3>Icons</h3>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Clank/footprints.png" />
        </div>
        <div class="table-cell tc-5">
            requires <img src="~/lib/Images/Clank/boot.png" class="icon" /> <img src="~/lib/Images/Clank/boot.png" class="icon" />
        </div>
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Clank/monster.png" />
        </div>
        <div class="table-cell tc-5">
            1 damage or <img src="~/lib/Images/Clank/sword.png" class="icon" />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Clank/lock.png" />
        </div>
        <div class="table-cell tc-5">
            requires key
        </div>
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Clank/aqua.png" />
        </div>
        <div class="table-cell tc-5">
            requires either <img src="~/lib/Images/Clank/boot.png" class="icon" /> <img src="~/lib/Images/Clank/boot.png" class="icon" /> or scuba
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Clank/clank.png" />
        </div>
        <div class="table-cell tc-5">
            +1 clank
        </div>
        <div class="table-cell tc-1">
            <img src="~/lib/Images/Clank/curse.png" />
        </div>
        <div class="table-cell tc-5">
            take a curse
        </div>
    </div>
</div>