<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-2" style="text-align: center;">
            <h3>Brick</h3>
            <img src="~/lib/Images/Concordia/brick.png" />
        </div>

        <div class="table-cell tc-2" style="text-align: center;">
            <h3>Food</h3>
            <img src="~/lib/Images/Concordia/food.png" />
        </div>

        <div class="table-cell tc-2" style="text-align: center;">
            <h3>Tools</h3>
            <img src="~/lib/Images/Concordia/tools.png" />
        </div>

        <div class="table-cell tc-2" style="text-align: center;">
            <h3>Wine</h3>
            <img src="~/lib/Images/Concordia/wine.png" />
        </div>

        <div class="table-cell tc-2" style="text-align: center;">
            <h3>Cloth</h3>
            <img src="~/lib/Images/Concordia/cloth.png" />
        </div>
    </div>
</div>
