<div class="table table-padding-1" id="actiontable">
    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Cryo/assignsalvage.png" />
        </div>
        <div class="table-cell tc-4">
            <h4>Assign to Salvage</h4>
            <p>Place 1 crew from platform on<br />an empty salvage space</p>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Cryo/withdrawsalvage.png" />
        </div>
        <div class="table-cell tc-4">
            <h4>Withdraw from Salvage</h4>
            <p>Take up to 3 crew from salvage spaces,<br />place on platform</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Cryo/scout.png" />
        </div>
        <div class="table-cell tc-4">
            <h4>Scout</h4>
            <p>Flip a facedown cavern tile, must be adjacent<br />to a faceup tile. Place 1 crew from platform</p>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Cryo/stasiscontrol.png" />
        </div>
        <div class="table-cell tc-4">
            <h4>Stasis Control</h4>
            <p>Take <i>any</i> crew pods from this ship section,<br />place them on platform</p>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Cryo/computer.png" />
        </div>
        <div class="table-cell tc-4">
            <h4>Computer</h4>
            <p>Draw 1 or play 1 for each <img src="~/lib/Images/Cryo/tech.png" class="resource" />,<br />must announce before drawing</p>
        </div>
    </div>
</div>
