<h3>Special Rooms</h3>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">
            @*Pit*@
            <img src="~/lib/Images/Escape/Chambers/pit.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            do not pick up <img src="~/lib/Images/Escape/black.png" class="diceicon" /> after activation
        </div>

        <div class="table-cell tc-1">
            @*Fountain*@
            <img src="~/lib/Images/Escape/Chambers/fountain.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            1x per player per game: recover a lost die
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Mirage*@
            <img src="~/lib/Images/Escape/Chambers/mirage.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> replace start chamber with mirage,
            <br>
            place start chamber where mirage would go
        </div>

        <div class="table-cell tc-1">
            @*Gear*@
            <img src="~/lib/Images/Escape/Chambers/gear.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/activation.png" class="diceicon" /> move all chambers in any row/column by 1 tile
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Dungeon*@
            <img src="~/lib/Images/Escape/Chambers/dungeon.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            cannot leave through the slide entrance
        </div>

        <div class="table-cell tc-1">
            @*Narrow Guage*@
            <img src="~/lib/Images/Escape/Chambers/narrowguage.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            extra <img src="~/lib/Images/Escape/torch.png" class="diceicon" /> to enter
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Calendar*@
            <img src="~/lib/Images/Escape/Chambers/calendar.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/activation.png" class="diceicon" /> swap 2 Mayan Calendar tiles in temple
        </div>

        <div class="table-cell tc-1">
            @*Teleporter*@
            <img src="~/lib/Images/Escape/Chambers/teleporter.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> place teleporter token in the chamber
            <br />
            teleporter can be retrieved/dropped for no cost
            <br />
            movement between chamber and token is free (no dice required)
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Exchange*@
            <img src="~/lib/Images/Escape/Chambers/exchange.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/enter.png" class="diceicon" /> swap a curse for a treasure
            <br />
            must re-enter to trigger again
        </div>

        <div class="table-cell tc-1">
            @*Totem*@
            <img src="~/lib/Images/Escape/Chambers/totem.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            stack <img src="~/lib/Images/Escape/gold.png" class="diceicon" /> / <img src="~/lib/Images/Escape/black.png" class="diceicon" /> to activate
            <br />
            any dice that fall must be re-rolled
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Slide*@
            <img src="~/lib/Images/Escape/Chambers/slide.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> immediately move <img src="~/lib/Images/Escape/figure.png" class="adventurer" /> into chamber
            <br />
            entry through stairway is free
        </div>

        <div class="table-cell tc-1">
            @*Debris*@
            <img src="~/lib/Images/Escape/Chambers/debris.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            extra cost for discovery (printed on back)
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Map*@
            <img src="~/lib/Images/Escape/Chambers/map.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/activation.png" class="diceicon" /> move to any other chamber in the temple
        </div>

        <div class="table-cell tc-1">
            @*Wishing Well*@
            <img src="~/lib/Images/Escape/Chambers/wishingwell.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/activation.png" class="diceicon" /> gain treasure OR discard curse OR reclaim lost die
            <br />
            must re-enter to trigger again
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Dice Shrines*@
            <img src="~/lib/Images/Escape/Chambers/diceshrine.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/start.png" class="diceicon" /> replace the 4 single-gem chambers from base game
            <br />
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> roll 2 dice from R&R and place them in either order
            <br />
            <img src="~/lib/Images/Escape/activation.png" class="diceicon" /> roll 3 symbols and remove the die from the chamber
            <br />
            dice for activation are picked up (even black masks)
        </div>
        <div class="table-cell tc-6">
            <h4 style="margin: 0;">Abilities:</h4>
            <ul style="margin: 0">
                <li>add <img src="~/lib/Images/Escape/gem.png" class="diceicon" /></li>
                <li>draw treasure</li>
                <li>teleport <i>any</i> 1 <img src="~/lib/Images/Escape/figure.png" class="adventurer" /> to any chamber</li>
                <li>unlock <i>all</i> <img src="~/lib/Images/Escape/black.png" class="diceicon" /></li>
                <li>add this die to your dice pool for remainder of game</li>
            </ul>
        </div>
    </div>
</div>
