<h3>Other</h3>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">
            @*Linked Chambers*@
            <img src="~/lib/Images/Escape/Chambers/linked.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            must coordinate and activate simultaneously
        </div>

        <div class="table-cell tc-1">
            @*Double Chambers*@
            <img src="~/lib/Images/Escape/Chambers/double.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <i>not</i> accessible with Mentalist or the Secret Passage
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">Illusion Chambers</div>
        <div class="table-cell tc-10"><img src="~/lib/Images/Escape/gong.png" class="diceicon" /> remove chambers from temple, put them at bottom of stack; can potentially activate gems again</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">Mayan Calendar</div>
        <div class="table-cell tc-10">
            <img src="~/lib/Images/Escape/start.png" class="diceicon" /> shuffle 9 calendar tiles, place Mayan figure on start space with arrow, include Calendar Chamber special room
            <br />
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> gem chambers: place a calendar tile from the stack

            <h4 style="margin-bottom: 0">Eternal</h4>
            <ul style="margin: 0">
                <li>can only activate a gem tile if it has a calendar tile matching the icon next to the Mayan figure</li>
                <li>after activating a gem tile move the Mayan figure and remove calendar tile</li>
            </ul>

            <h4 style="margin-bottom: 0">Doomed</h4>
            <ul style="margin: 0">
                <li>after activating a gem tile, <i>only</i> move the Mayan figure if the calendar tile matches its icon</li>
                <li>calendar tile is placed on bottom of stack, whether it matches or not</li>
                <li>if depot is empty, can move Mayan figure by activating a gem chamber with correct Calendar tile</li>
                <li><img src="~/lib/Images/Escape/gong.png" class="diceicon" /> 1 die per player is sacrificed to the Calendar chamber where they can be retrieved by entering</li>
                <li>Escape: requires additional <img src="~/lib/Images/Escape/key.png" class="diceicon" /> based on Mayan figure's position</li>
            </ul>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">Cursed Gems</div>
        <div class="table-cell tc-10">
            <img src="~/lib/Images/Escape/start.png" class="diceicon" /> give each player a cursed gem tile
            <br />
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> single-gem chamber: draw cursed gem location tile
            <br />
            <img src="~/lib/Images/Escape/activation.png" class="diceicon" /> confirm if gem location tile matches your cursed gem tile; return face down if not, verbal clues only
            <br />
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> must find match to escape
        </div>
    </div>
</div>
