<h3>Traps</h3>

<p><img src="~/lib/Images/Escape/start.png" class="diceicon" /> add 2, 3, or 4 trap chambers</p>
<p><img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> immediately place <img src="~/lib/Images/Escape/figure.png" class="adventurer" /> in trap room</p>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">
            @*Cliff <img src="~/lib/Images/Escape/torch.png" class="diceicon" />*@
            <img src="~/lib/Images/Escape/Chambers/trap-cliff.png" class="chamber" />
        </div>
        <div class="table-cell tc-4">
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> roll <img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" /> alone
            <br />
            Others can enter but may only pass <img src="~/lib/Images/Escape/gold.png" class="diceicon" />
        </div>
@*        <div class="table-cell tc-1">
            Cliff <img src="~/lib/Images/Escape/key.png" class="diceicon" />
        </div>
*@        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> roll <img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /> alone
            <br />
            Others can enter but may only <img src="~/lib/Images/Escape/gold.png" class="diceicon" />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Invocation*@
            <img src="~/lib/Images/Escape/Chambers/trap-invocation.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> move ALL players to this chamber
            <br />
            <img src="~/lib/Images/Escape/activation.png" class="diceicon" /> may be triggered repeatedly with <img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" />
        </div>
        <div class="table-cell tc-1">
            @*Moving Platform*@
            <img src="~/lib/Images/Escape/Chambers/trap-movingplatform.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            move chamber clockwise around temple, without changing orientation, until connecting to an open door. if none: must wait for a discovery
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Slide*@
            <img src="~/lib/Images/Escape/Chambers/trap-slide.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            cannot leave via tilted staircase
        </div>
        <div class="table-cell tc-1">
            @*Quicksand*@
            <img src="~/lib/Images/Escape/Chambers/trap-quicksand.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> roll <img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" /> with maximum 4 dice (re)rolls
            <br />
            other players may enter and help, not limited in dice rolls
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Beast*@
            <img src="~/lib/Images/Escape/Chambers/trap-beast.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> place <img src="~/lib/Images/Escape/figure.png" class="adventurer" /> on rectangle next to beast
            <br />
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> move along path by matching icons
            <br />
            roll dice 1 at a time
            <br />
            no one can enter to help
            <br />
            5 x <img src="~/lib/Images/Escape/black.png" class="diceicon" />: sacrifice a die and leave chamber
        </div>
        <div class="table-cell tc-1">
            @*Lava*@
            <img src="~/lib/Images/Escape/Chambers/trap-lava.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> add gate tokens to start chamber
            <br />
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> roll <img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /> alone
            <br />
            other players can contribute gold masks only
            <br />
            gates are independent of chamber task, remove with <img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" />
        </div>
    </div>
</div>
