<h3>Time Chambers</h3>

<p><img src="~/lib/Images/Escape/start.png" class="diceicon" /> add 2, 3, or 4 time chambers</p>
<p><img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> begin timer, use #1 or #2 if the timer is in use</p>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">
            @*Prohibition Chamber*@
            <img src="~/lib/Images/Escape/Chambers/time-prohibition.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            blocks action:
            <br />
            <img src="~/lib/Images/Escape/gem.png" class="diceicon" /> OR <img src="~/lib/Images/Escape/gold.png" class="diceicon" /> OR <img src="~/lib/Images/Escape/enter.png" class="diceicon" />, OR entering starting chamber
        </div>
        <div class="table-cell tc-1">
            @*Lava Chamber*@
            <img src="~/lib/Images/Escape/Chambers/time-lava.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            2 chambers: lose dice or add gems to depot
            <br />
            lost dice come from any combination of players
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Torch Chamber*@
            <img src="~/lib/Images/Escape/Chambers/time-torch.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            fail: 2 players each lose 1 die
        </div>
        <div class="table-cell tc-1">
            @*Sacrifice Chamber*@
            <img src="~/lib/Images/Escape/Chambers/time-sacrifice.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> all players place 1 die here
            <br />
            recover die by entering chamber before timer ends
        </div>
    </div>
</div>
