<h3>Curses</h3>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">
            @*Trap*@
            <img src="~/lib/Images/Escape/Curses/trap.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            may not enter or discover chambers
        </div>
        <div class="table-cell tc-1">
            @*Broken die*@
            <img src="~/lib/Images/Escape/Curses/brokendie.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> place a die here
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Mask*@
            <img src="~/lib/Images/Escape/Curses/mask.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/gold.png" class="diceicon" /> only cure 1 <img src="~/lib/Images/Escape/black.png" class="diceicon" />
        </div>
        <div class="table-cell tc-1">
            @*Silence*@
            <img src="~/lib/Images/Escape/Curses/silence.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            cannot speak
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Lost dice*@
            <img src="~/lib/Images/Escape/Curses/lostdice.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            dice falling off the table are permanently lost
        </div>
        <div class="table-cell tc-1">
            @*Cursed hand*@
            <img src="~/lib/Images/Escape/Curses/cursedhand.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            must place 1 hand on head
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Soul Exchange*@
            <img src="~/lib/Images/Escape/Curses/soulexchange.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> swap color tiles with another player
            <br />
            both players control <img src="~/lib/Images/Escape/figure.png" class="adventurer" /> of the other
        </div>
        <div class="table-cell tc-1">
            @*Lost Treasure*@
            <img src="~/lib/Images/Escape/Curses/losttreasure.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> lose a treasure
        </div>
    </div>
    
    <div class="table-row">
        <div class="table-cell tc-1">
            @*Really Cursed*@
            <img src="~/lib/Images/Escape/Curses/reallycursed.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            when drawing curses, draw 2 instead of 1
        </div>
        <div class="table-cell tc-1">
            @*Doomed*@
            <img src="~/lib/Images/Escape/Curses/doomed.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            cannot escape from temple
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Stand Up*@
            <img src="~/lib/Images/Escape/Curses/standup.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            must stand
        </div>
        <div class="table-cell tc-1">
            @*Poison*@
            <img src="~/lib/Images/Escape/Curses/poison.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/gong.png" class="diceicon" /> lose 1 or 2 dice, instead of 0 or 1
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Strangle Vines*@
            <img src="~/lib/Images/Escape/Curses/stranglevines.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/man.png" class="diceicon" /> must always be re-rolled
        </div>
        <div class="table-cell tc-1">
            @*Mind Control*@
            <img src="~/lib/Images/Escape/Curses/mindcontrol.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            cannot touch your own <img src="~/lib/Images/Escape/figure.png" class="adventurer" />, draw pile, or gems in depot
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Pitfall*@
            <img src="~/lib/Images/Escape/Curses/pitfall.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> place <img src="~/lib/Images/Escape/figure.png" class="adventurer" /> in start chamber
        </div>
        <div class="table-cell tc-1">
            @*Magical Bond*@
            <img src="~/lib/Images/Escape/Curses/magicalbond.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            must touch another player with 1 hand at all times
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Weakest Link*@
            <img src="~/lib/Images/Escape/Curses/weakestlink.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/gong.png" class="diceicon" /> fail: lose game
        </div>
        <div class="table-cell tc-1">
            @*Misinformation*@
            <img src="~/lib/Images/Escape/Curses/misinformation.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            "I found the exit!" (2x)
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Cyclops*@
            <img src="~/lib/Images/Escape/Curses/cyclops.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            cover 1 eye
        </div>
    </div>
</div>
