<h3>Characters</h3>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">Discoverer</div>
        <div class="table-cell tc-5">when discovering, may use next chamber instead (after looking)</div>
        <div class="table-cell tc-6"><img src="~/lib/Images/Escape/man.png" class="diceicon" /><img src="~/lib/Images/Escape/man.png" class="diceicon" /><img src="~/lib/Images/Escape/man.png" class="diceicon" />: move up to 3 chambers</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">Doc</div>
        <div class="table-cell tc-5"><img src="~/lib/Images/Escape/gold.png" class="diceicon" /> cures <img src="~/lib/Images/Escape/black.png" class="diceicon" /><img src="~/lib/Images/Escape/black.png" class="diceicon" /><img src="~/lib/Images/Escape/black.png" class="diceicon" /></div>
        <div class="table-cell tc-6"><img src="~/lib/Images/Escape/gold.png" class="diceicon" /><img src="~/lib/Images/Escape/gold.png" class="diceicon" /> cures all <img src="~/lib/Images/Escape/black.png" class="diceicon" /> of a single player, regardless of location</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">Muscleman</div>
        <div class="table-cell tc-5"><img src="~/lib/Images/Escape/torch.png" class="diceicon" /> = <img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" /></div>
        <div class="table-cell tc-6"><img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" />: rotate any chamber other than starting chamber</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">Priest</div>
        <div class="table-cell tc-5">all dice are locked: teleport to any other <img src="~/lib/Images/Escape/figure.png" class="adventurer" /></div>
        <div class="table-cell tc-6"><img src="~/lib/Images/Escape/black.png" class="diceicon" /><img src="~/lib/Images/Escape/black.png" class="diceicon" /><img src="~/lib/Images/Escape/black.png" class="diceicon" /> = <img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /> OR <img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" />, then re-roll those dice</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">Mechanic</div>
        <div class="table-cell tc-5"><img src="~/lib/Images/Escape/gold.png" class="diceicon" /> can be <img src="~/lib/Images/Escape/key.png" class="diceicon" /></div>
        <div class="table-cell tc-6"><img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" />: teleport to another <img src="~/lib/Images/Escape/figure.png" class="adventurer" /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">Mentalist</div>
        <div class="table-cell tc-5"><img src="~/lib/Images/Escape/man.png" class="diceicon" /><img src="~/lib/Images/Escape/man.png" class="diceicon" />: enter connected chamber</div>
        <div class="table-cell tc-6"><img src="~/lib/Images/Escape/man.png" class="diceicon" /><img src="~/lib/Images/Escape/man.png" class="diceicon" />: enter <i>adjacent</i> chamber; even passing through walls</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">Void Runner</div>
        <div class="table-cell tc-5"><img src="~/lib/Images/Escape/man.png" class="diceicon" /><img src="~/lib/Images/Escape/man.png" class="diceicon" />: travel via open doorways</div>
        <div class="table-cell tc-6">same but take all other <img src="~/lib/Images/Escape/figure.png" class="adventurer" /> with you</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">Trickster</div>
        <div class="table-cell tc-5">may exchange dice 1-1 with another player in your chamber</div>
        <div class="table-cell tc-6">same but with players in any chamber</div>
    </div>
</div>
