<h3>Treasures</h3>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">
            @*Healing mask*@
            <img src="~/lib/Images/Escape/Treasures/healingmask.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            cure <i>all</i> <img src="~/lib/Images/Escape/black.png" class="diceicon" />
        </div>
        <div class="table-cell tc-1">
            @*Double torch*@
            <img src="~/lib/Images/Escape/Treasures/doubletorch.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            acts as <img src="~/lib/Images/Escape/torch.png" class="diceicon" /><img src="~/lib/Images/Escape/torch.png" class="diceicon" />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Teleport*@
            <img src="~/lib/Images/Escape/Treasures/teleport.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            move your <img src="~/lib/Images/Escape/figure.png" class="adventurer" /> to any other <img src="~/lib/Images/Escape/figure.png" class="adventurer" />
        </div>
        <div class="table-cell tc-1">
            @*Double key*@
            <img src="~/lib/Images/Escape/Treasures/doublekey.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            acts as <img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Extra Gem*@
            <img src="~/lib/Images/Escape/Treasures/extragem.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            activate a gem from the depot
        </div>
        <div class="table-cell tc-1">
            @*Secret Passage*@
            <img src="~/lib/Images/Escape/Treasures/secretpassage.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            create a passage between 2 adjacent chambers,
            <br />
            lasts for entire game
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Large Torch*@
            <img src="~/lib/Images/Escape/Treasures/largetorch.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/gong.png" class="diceicon" /> treat this chamber as an entrance chamber,
            <br />
            then discard
        </div>
        <div class="table-cell tc-1">
            @*Counterspell*@
            <img src="~/lib/Images/Escape/Treasures/counterspell.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            discard a curse
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Short Cut*@
            <img src="~/lib/Images/Escape/Treasures/shortcut.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            when discovering, choose a chamber from entire draw pile,
            <br />
            then reshuffle
        </div>
        <div class="table-cell tc-1">
            @*Time Out*@
            <img src="~/lib/Images/Escape/Treasures/timeout.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            pause timer, no rolling while paused
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Genie Lamp*@
            <img src="~/lib/Images/Escape/Treasures/genielamp.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            draw 3 treasures and keep 1,
            <br />
            others go to bottom of stack
        </div>
        <div class="table-cell tc-1">
            @*Portal*@
            <img src="~/lib/Images/Escape/Treasures/portal.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            move to any adjacent (including diagonal) chamber
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Clone*@
            <img src="~/lib/Images/Escape/Treasures/clone.png" class="curse" />
        </div>
        <div class="table-cell tc-5">
            double all <img src="~/lib/Images/Escape/key.png" class="diceicon" /> and <img src="~/lib/Images/Escape/torch.png" class="diceicon" /> for 1 action
        </div>
    </div>
</div>
