<h3>Quests</h3>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">
            @*Chalice*@
            <img src="~/lib/Images/Escape/Chambers/quest-chalice.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> add chalice to chamber
            <br />
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> drag chalice to exit chamber
        </div>

        <div class="table-cell tc-1">
            @*Altar*@
            <img src="~/lib/Images/Escape/Chambers/quest-altar.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> 2 dice sacrificed here by player(s) within the chamber
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Task*@
            <img src="~/lib/Images/Escape/Chambers/quest-task.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> add 4 of the task tiles to chamber
            <br />
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> all 4 tasks completed
        </div>

        <div class="table-cell tc-1">
            @*Ghost*@
            <img src="~/lib/Images/Escape/Chambers/quest-ghost.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> place ghost in starting chamber
            <br />
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> ghost is pushed into tomb chamber
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Tree of Life*@
            <img src="~/lib/Images/Escape/Chambers/quest-treeoflife.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> roll 2N gold masks
        </div>

        <div class="table-cell tc-1">
            @*Obelisk*@
            <img src="~/lib/Images/Escape/Chambers/quest-obelisk.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> Obelisk is completely surrounded by chambers
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Chaos*@
            <img src="~/lib/Images/Escape/Chambers/quest-chaos.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> all players simultaneously draw 1 curse while here
        </div>

        <div class="table-cell tc-1">
            @*Constellation*@
            <img src="~/lib/Images/Escape/Chambers/quest-constellation.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> <img src="~/lib/Images/Escape/key.png" class="diceicon" /><img src="~/lib/Images/Escape/key.png" class="diceicon" /> per player, in correct rooms
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Snake Pit*@
            <img src="~/lib/Images/Escape/Chambers/quest-snakepit.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> all other players get snake token to defeat
            <br />
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> defeat mother snake
        </div>

        <div class="table-cell tc-1">
            <img src="~/lib/Images/Escape/Chambers/quest-riddle.png" class="chamber" />
            @*Riddle*@
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> place statue tiles face down on the 4 spaces
            <br />
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> tiles must be revealed in correct order (BRYG) 
            <br />
            mistake: flip all tiles face down and task starts over
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1">
            @*Ascension*@
            <img src="~/lib/Images/Escape/Chambers/quest-ascension.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> any player reaches top step
            <br />
            ascend steps in order
            <br />
            may only give <img src="~/lib/Images/Escape/gold.png" class="diceicon" /> to others
            <br />
            may pull other <img src="~/lib/Images/Escape/figure.png" class="adventurer" /> up to your step
        </div>

        <div class="table-cell tc-1">
            @*Guardian*@
            <img src="~/lib/Images/Escape/Chambers/quest-guardian.png" class="chamber" />
        </div>
        <div class="table-cell tc-5">
            <img src="~/lib/Images/Escape/discovery.png" class="diceicon" /> add N guardian tiles here
            <br />
            <img src="~/lib/Images/Escape/completion.png" class="diceicon" /> all tiles are delivered to 3-gem rooms
            <br />
            pick up a tile with <img src="~/lib/Images/Escape/man.png" class="diceicon" /><img src="~/lib/Images/Escape/man.png" class="diceicon" />
            <br />
            temporarily sacrifice a die, retrieve upon delivery
        </div>
    </div>
</div>
