<h3>Red Immediate Cards</h3>
<p>Place 1 stone from the <i>quarry</i> onto the location.</p>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-3">Entrance</div>
        <div class="table-cell tc-8">pyramid</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Sarcophagus</div>
        <div class="table-cell tc-8">burial chamber</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Paved Path</div>
        <div class="table-cell tc-8">obelisk</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Private Quarry</div>
        <div class="table-cell tc-8">+1 point, excavate 3 stones</div>
    </div>
</div>
