<h3>Blue Action Cards</h3>
<p>Discard to do a special action.</p>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-3">Lever</div>
        <div class="table-cell tc-8">sail & decide order</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Hammer</div>
        <div class="table-cell tc-8">excavate & place</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Sail</div>
        <div class="table-cell tc-8">place & sail</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Chisel</div>
        <div class="table-cell tc-8">2x place</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Raft</div>
        <div class="table-cell tc-8">return 2 stones → place 1 stone from sled directly onto a site</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Loading Plank</div>
        <div class="table-cell tc-8">return 1 stone → sail a ship with your stone(s) to an occupied site</div>
    </div>
</div>
