<h3>Action Details</h3>

<ul>
    <li>Build
        <ul>
            <li>Spend resources, add location card</li>
            <li><i>Faction</i> location: discard another location or a foundation</li>
            <li>Production: gain benefit immediately on build</li>
        </ul>
    </li>
    <li>Make a deal
        <ul>
            <li>Spend 1 food</li>
            <li>Gain benefit immediately</li>
        </ul>
    </li>
    <li>Raze
        <ul>
            <li>1 token: raze from hand</li>
            <li>2 tokens: raze enemy common building</li>
        </ul>
    </li>
    <li>Activate an action location
        <ul>
            <li>Place goods on card as a reminder</li>
            <li>1x activation per round</li>
            <li>May spend 2x goods to activate twice with one action
                <ul>
                    <li><i>When card gives option for 2x activations</i></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>2 workers <span class="arrow"></span> 1 resource/card
        <ul>
            <li>Discard 2 workers to take 1 resource (not gold) or draw 1 card</li>
            <li>May discard multiple pairs</li>
        </ul>
    </li>
    <li>Play an instant card
        <ul>
            <li>Execute effect then discard</li>
        </ul>
    </li>
    <li>(Free) Place available defense token
        <ul>
            <li>May only place during your turn</li>
            <li>Cannot be moved once placed</li>
            <li>Requires +1 raze token to raze</li>
        </ul>
    </li>
</ul>
