<h3>Round Order</h3>

<ol>
    <li>Lookout Phase
        <ol>
            <li>Draw 1 faction card</li>
            <li>Draft 1 common card from pool of [N+1] cards</li>
            <li>Repeat #2 in reverse turn order</li>
        </ol>
    </li>
    <li>Production Phase, collect resources from:
        <ul>
            <li>Faction board</li>
            <li>Deals</li>
            <li>Production locations</li>
        </ul>
    </li>
    <li>Action Phase
        <ul>
            <li>Build</li>
            <li>Make a deal</li>
            <li>Raze</li>
            <li>Activate an action location</li>
            <li>2 workers <span class="arrow"></span> 1 resource/card</li>
            <li>Play an instant card</li>
            <li>(Free) Place available defense token</li>
        </ul>
    </li>
    <li>Cleanup Phase (skip in final round)
        <ul>
            <li>Use any storage</li>
            <li>Discard excess workers, defense tokens, and resources (not cards)</li>
            <li>Discard goods used to activate locations</li>
            <li>Pass first player token</li>
            <li>Advance round marker</li>
        </ul>
    </li>
</ol>
