<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-3" style="padding-top: 0.75em;">
            <img src="~/lib/Images/Mexica/token.png" />
        </div>

        <div class="table-cell tc-9">
            <div class="table table-100 table-padding-p5">
                <div class="table-row">
                    <div class="table-cell tc-1">
                        &nbsp;
                    </div>
                    <div class="table-cell tc-5">
                        district founding
                    </div>
                    <div class="table-cell tc-5">
                        end of era
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-1">
                        <img src="~/lib/Images/Mexica/2a.png" />
                    </div>
                    <div class="table-cell tc-5">
                        required size
                    </div>
                    <div class="table-cell tc-5">
                        1<sup>st</sup>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-1">
                        <img src="~/lib/Images/Mexica/2b.png" />
                    </div>
                    <div class="table-cell tc-5">
                        points for founder
                    </div>
                    <div class="table-cell tc-5">
                        2<sup>nd</sup>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-1">
                        <img src="~/lib/Images/Mexica/2c.png" />
                    </div>
                    <div class="table-cell tc-5">
                        points for presence
                    </div>
                    <div class="table-cell tc-5">
                        3<sup>rd</sup>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
