<h3>Buccaneer</h3>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-3">Piracy</div>
        <div class="table-cell tc-6">clear 1 cargo ship</div>
        <div class="table-cell tc-3">keep 3 goods</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-3">Plunder</div>
        <div class="table-cell tc-6">clear trading house</div>
        <div class="table-cell tc-3">+X vp</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-3">Raid</div>
        <div class="table-cell tc-6">reduce colonist ship</div>
        <div class="table-cell tc-3">keep 3 colonists</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-3">Kidnap</div>
        <div class="table-cell tc-6">choose an unused role</div>
        <div class="table-cell tc-3">+$3 or play role</div>
    </div>

</div>


