
<div class="elementtable">
    <div class="row bot">
        <div class="rt">&nbsp;</div>
        <div class="rt center mid bold">1</div>
        <div class="rt center mid bold">2</div>
        <div class="rt center mid bold">3</div>
        <div class="rt center mid bold">4</div>
        <div class="rt center mid bold">5</div>
        <div class="rt center mid bold">6</div>
        <div class="rt center mid bold">7</div>
        <div class="center mid bold">8</div>
    </div>

    <div class="row bot">
        <div class="rt center"><img src="~/lib/Images/SpiritIsland/sun.png" class="icon" /></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class=""></div>
    </div>

    <div class="row bot">
        <div class="rt center"><img src="~/lib/Images/SpiritIsland/moon.png" class="icon" /></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class=""></div>
    </div>

    <div class="row bot">
        <div class="rt center"><img src="~/lib/Images/SpiritIsland/fire.png" class="icon" /></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class=""></div>
    </div>

    <div class="row bot">
        <div class="rt center"><img src="~/lib/Images/SpiritIsland/air.png" class="icon" /></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class=""></div>
    </div>

    <div class="row bot">
        <div class="rt center"><img src="~/lib/Images/SpiritIsland/water.png" class="icon" /></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class=""></div>
    </div>

    <div class="row bot">
        <div class="rt center"><img src="~/lib/Images/SpiritIsland/earth.png" class="icon" /></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class=""></div>
    </div>

    <div class="row bot">
        <div class="rt center"><img src="~/lib/Images/SpiritIsland/plant.png" class="icon" /></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class=""></div>
    </div>

    <div class="row">
        <div class="rt center"><img src="~/lib/Images/SpiritIsland/animal.png" class="icon" /></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class="rt"></div>
        <div class=""></div>
    </div>
</div>
