@{
    ViewData["Title"] = "Kanban EV Guide";
}

<style>
p, h3, h4 {
    margin-top: 0;
}

h3 {
    margin-bottom: .5em;
}

h4 {
    margin-bottom: .2em;
}

ul, ol {
    margin-top: 0;
}
</style>

<h3>Terms and Reminders</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h4>Upgraded Design</h4>
            <p>A design that has been flipped face-down and awarded 2 points</p>

            <h4>Recycling Center</h4>
            <ul>
                <li>Available at any time during turn</li>
                <li>Unavailable during meetings</li>
                <li>Does not take a shift</li>
                <li>Recycling center must always have 3 parts, all different</li>
            </ul>

            <h4>Certification</h4>
            <p>Cross the arrow on training track of any department</p>
            <ul>
                <li>Discard corresponding lock</li>
                <li>Advance certification marker</li>
                <li>Check factory goal tile</li>
            </ul>

        </div>
        <div class="table-cell tc-6">
            <h4>Tested Design</h4>
            <p>An upgraded design for a car you have in your garage</p>

            <h4>Speech Tokens</h4>
            <ul>
                <li>First training expert in each department</li>
                <li>Some of the expert training awards ???</li>
                <li>Reach section 2 or 4 of certification track</li>
                <li>Accomplish factory goals</li>
                <li>Complete assembly of an in-demand car</li>
                <li>Park car in garage that rewards a speech token</li>
            </ul>

            <h4>Books, Parts Vouchers, Banked Shifts</h4>
            <ul>
                <li>May not be used on the turn that you gained them</li>
                <li>Max 4 shifts per day - this limits banked shift usage</li>
                <li>Books do not consume shifts; may be used any time during turn</li>
                <li>Parts vouchers may only be used when needed at R&D or Assembly</li>
            </ul>

        </div>
    </div>
</div>

<hr />

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h3>End of Week Scoring</h3>
            <p>For each car in your garage,</p>
            <ol>
                <li>Find the matching car type on the upgrade board
                    <ul>
                        <li>+1 point for each part token</li>
                    </ul>
                </li>
                <li>Count the <i>tested</i> designs that you have for that car <i>type</i>
                    <ul>
                        <li>+1 point for each</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="table-cell tc-6">
            <h3>Design Final Scoring</h3>
            <p>For each of your <i>tested</i> designs,</p>
            <ol>
                <li>Find the matching car part on the upgrade track</li>
                <li>Score based on track value</li>
            </ol>
        </div>
    </div>
</div>

<hr />

<h3>How do I get Points?</h3>
<ul>
    <li>Get cars (R&D)
        <ul>
            <li>Cars score points and help fulfill objectives</li>
            <li>Prioritize cars with higher point values, and/or cars that match your upgraded designs (so they become tested)</li>
            <li>Get designs from the Design Department</li>
            <li>Turn the design in at the R&D department if the matching car is there</li>
        </ul>
    </li>
    <li>Upgrade designs (R&D)
        <ul>
            <li>Upgrades give 2 points each, help fulfill objectives, and synergize with the cars you have in garages</li>
            <li>Prioritize designs for cars in your garage (so they become tested)</li>
            <li>Get designs from the Design Department</li>
            <li>Get matching parts through logistics, parts vouchers, and/or recycling</li>
            <li>Flip the design and turn in the part at the R&D department</li>
        </ul>
    </li>
    <li>Test your designs (R&D)
        <ul>
            <li>Have a car? Upgrade a design for it</li>
            <li>Have an upgraded design? Get a matching car</li>
            <li>Prioritize parts high on the upgrade track</li>
        </ul>
    </li>
    <li>Move cars off the assembly line (Assembly)
        <ul>
            <li>Each car moved is worth 1 or 2 points, plus a speech token if it is in demand</li>
            <li>Get car parts at logistics - pay attention to components that were upgraded</li>
            <li>Turn parts in at the assembly department</li>
        </ul>
    </li>
    <li>Avoid Sandra's wrath
        <ul>
            <li>Keep banked shifts close to 5 so her penalty is less severe</li>
            <li>Put time into training so you don't get evaluated by her at all</li>
            <li>Anticipate where she will go next or plan a few moves ahead, then meet her condition</li>
        </ul>
    </li>
    <li>Get speech bubbles
        <ul>
            <li>Score more points at meetings</li>
            <li>Get certifications</li>
            <li>Get more cars and upgraded designs (factory goals)</li>
            <li>Complete the assembly of in-demand cars</li>
        </ul>
    </li>
    <li>Meetings and end-game goal
        <ul>
            <li>Pick an objective card in your hand you can fulfill</li>
            <li>Pick a few public objective cards you might be able to fulfill at the next meeting</li>
            <li>Work toward end-game objectives</li>
        </ul>
    </li>
</ul>


