@{
    ViewData["Title"] = "Kanban EV";
}

<h2>Kanban EV</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "KanbanEvGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Player Aid", "Index", "Games", new { gamename = "KanbanEvPlayerAid" })</p>

