@{
    ViewData["Title"] = "Keyflower";
}

<h2>Keyflower</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "KeyflowerGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Tile Summary", "Index", "Games", new { gamename = "KeyflowerTileSummary" })</p>
