@{
    ViewData["Title"] = "Pipeline";
}

<div class="row">
	<div class="upgrade">
		<div class="title">Government</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>Immediately receive 2 government pipe tiles from an open quadrant.</p>
				<p>At the beginning of each year, receive 1 government pipe tile from an open quadrant.</p>
				<p>If a new quadrant has not been declared open during this game year, you may choose to declare a new quadrant open, and receive a government pipe tile from that quadrant.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>Immediately receive 4 government pipe tiles from an open quadrant.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>Immediately receive 6 government pipe tiles from an open quadrant.</p>
			</div>
		</div>
	</div>

	<div class="upgrade">
		<div class="title">Refined Markets</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>The value of oil is $5 more for all refined oil in the refined markets (this does not affect the crude market, contracts, and orders). This applies for both purchasing and selling.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>When taking an action at any of the refined markets (excluding the crude market, contracts, and orders), you may purchase and sell to ALL refined markets.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>When selling to any of the refined markets (excluding the crude market, contracts, and orders), the type of oil does not have to match the space. However, the grade of oil must still match or be of a higher grade.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="upgrade">
		<div class="title">Shops</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>Immediately receive 2 tank tiles and 1 pipe tile from either shop. In the event a tank tile and/or pipe tile is not available, you do not receive the tile, even if they become available later. At the beginning of each year, receive 2 tank tiles from the tank Shop.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>Immediately receive 1 machine tile and a total of 2 pipe tiles from either Shop. In the event a machine tile and/or pipe tile is not available, you do not receive the tile, even if they become available later.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>Immediately receive 1 machine tile and a total of 4 pipe tiles from either Shop. In the event a machine tile and/or Pipe tile is not available, you do not receive the tile, even if they become available later.</p>
			</div>
		</div>
	</div>

	<div class="upgrade">
		<div class="title">Contracts & Orders</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>You may fulfill any of your contracts up to 2 times each year. The oil barrels from the first fulfillment are placed next to the contract as a reminder. If you begin a second fulfillment, the contract must be fulfilled before the end of the current year as per the normal rules.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>Earn an additional $10 for each barrel sold to contracts or orders.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>You may take orders as if they were contracts when taking the contracts & loans action. The order tiles taken are placed next to the player’s contracts and are considered contracts for fulfillment and for end game valuation cards. When fulfilling the orders taken in this way, earn money as if it were a contract.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="upgrade">
		<div class="title">Human Resources</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>You do not have to pay $10 to take a secondary action.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>Rather than taking an adjacent secondary action, your worker may move up to 2 spaces to take a secondary action whose tile is further away. A space is either an Action tile or the empty square space at the center of the action tiles.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>You may take any 2 actions on your turn. You cannot take any secondary actions attached to any of your main actions.</p>
			</div>
		</div>
	</div>

	<div class="upgrade">
		<div class="title">Machines</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>Immediately receive 1 machine. As a main action during the work phase, you may place your worker on a machine in your pipe network to run it at no cost.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>During the machine phase, your machines cost a total of $5 to run.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>You may run your machines before you take your actions as well as during the machine phase. Machines may only be run once during each phase.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="upgrade">
		<div class="title">Engineering</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>Your pipelines gain 1 additional virtual refinement value for every 4 pipe segments.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>Your pipelines gain 2 additional virtual refinement values for every 4 pipe segments. After upgrading to level 2, you must discard your engineering Level 1 card.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>Your standard pipelines can run 2 barrels of oil of the same class (including crude).</p>
			</div>
		</div>
	</div>

	<div class="upgrade">
		<div class="title">Technology</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>May purchase upgrade cards of Levels less than the current game year even if its corresponding upgrade token has already been flipped.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>Receive any 1 level-2 upgrade from an upgrade type that is not in the current game.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>Receive any 1 Level-3 upgrade from an upgrade type that is not in the current game.</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="upgrade">
		<div class="title">Specialization</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>Receive one specialization card.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>Receive two specialization cards.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>Receive three specialization cards.</p>
			</div>
		</div>
	</div>

	<div class="upgrade">
		<div class="title">Crude</div>
		<div class="level">
			<div class="level-rank">Level 1</div>
			<div class="level-description">
				<p>Immediately take the crude market action (without moving your worker).</p>
				<p>Once per game: At the beginning of your turn, take the crude market action (without moving your worker). This does not count as your main or secondary action.
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 2</div>
			<div class="level-description">
				<p>Immediately receive up to 5 crude oil cubes from the crude market for free.</p>
			</div>
		</div>
		<div class="level">
			<div class="level-rank">Level 3</div>
			<div class="level-description">
				<p>You may purchase crude oil from the crude market at the beginning of the machine phase. If an oil type has sold out you may take cubes from the supply, paying the amount shown in the rightmost space.</p>
			</div>
		</div>
	</div>
</div>


<style>
* {
	font-family: calibri;
}

body {
	width: 1200px;
}

.row {
	/*padding: 0 1em;*/
	clear: both;
}

.title {
	font-weight: bold;
	font-style: italic;
	margin-bottom: .5em;
	padding-top: 5em;
}

.row:first-of-type .title {
	padding-top: 0;
}

.level > div {
	vertical-align: top;
	float: left;
}

.level-rank {
	width: 14%;
}

.level-description {
	width: 86%;
}

.level-description p {
	margin: 0 1em 1em;
	font-size: 14px;
}

.upgrade {
	width: 45%;
	float: left;
	vertical-align: top;
}

.upgrade {
}

.upgrade:first-child {
	padding-top: 0;
}

</style>
