@{
    ViewData["Title"] = "Puerto Rico Buccaneer";
}

<style>
body {
    width: 1020px;
    margin: 0;
}

ul {
    margin-top: 5px;
}

h3 {
    margin-top: 70px;
}
</style>

<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-5"><partial name="../PartialViews/_PuertoRicoBuccaneer" /></div>
        <div class="table-cell tc-push-2 tc-5"><partial name="../PartialViews/_PuertoRicoBuccaneer" /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-5"><partial name="../PartialViews/_PuertoRicoBuccaneer" /></div>
        <div class="table-cell tc-push-2 tc-5"><partial name="../PartialViews/_PuertoRicoBuccaneer" /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-5"><partial name="../PartialViews/_PuertoRicoBuccaneer" /></div>
    </div>

</div>

