@{
    ViewData["Title"] = "Puerto Rico Base Buildings";
}

<div class="table table-60 table-padding-p5">
    <!-- 1 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">1</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">Small Market</div>
                    <div class="table-cell tc-9">+$1 with sale (trader)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12"><hr /></div></div>
    
    <!-- 2 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">2</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">Hacienda</div>
                    <div class="table-cell tc-9">+1 plantation from supply (settler)</div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-3">Construction Hut</div>
                    <div class="table-cell tc-9">quarry instead of plantation (settler)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12"><hr /></div></div>

    <!-- 3 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">3</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">Small Warehouse</div>
                    <div class="table-cell tc-9">store 1 <u>kind</u> of good (captain)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12"><hr /></div></div>

    <!-- 4 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">4</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">Hospice</div>
                    <div class="table-cell tc-9">+1 colonist for settling (settler)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12"><hr /></div></div>

    <!-- 5 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">5</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">Office</div>
                    <div class="table-cell tc-9">sell same kind of goods (trader)</div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-3">Large Market</div>
                    <div class="table-cell tc-9">+$2 with sale (trader)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12"><hr /></div></div>

    <!-- 6 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">6</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">Large Warehouse</div>
                    <div class="table-cell tc-9">store 2 <u>kinds</u> of goods (captain)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12"><hr /></div></div>

    <!-- 7 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">7</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">Factory</div>
                    <div class="table-cell tc-9">+$0/1/2/3/5 with production (craftsman)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12"><hr /></div></div>

    <!-- 8 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">8</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">University</div>
                    <div class="table-cell tc-9">+1 colonist for building (builder)</div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-3">Harbor</div>
                    <div class="table-cell tc-9">+1vp per delivery (captain)</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="table-row"><div class="table-cell tc-12"><hr /></div></div>

    <!-- 9 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">9</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">Wharf</div>
                    <div class="table-cell tc-9">your own ship (captain)</div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-row"><div class="table-cell tc-12"><hr /></div></div>

    <!-- 10 -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <div style="padding-top: 1em">10</div>
        </div>
        <div class="table-cell tc-11">
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-3">Guild Hall</div>
                    <div class="table-cell tc-9">+1/2 vp for each small/large production building</div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-3">Residence</div>
                    <div class="table-cell tc-9">+4/5/6/7 vp for &leq;9/10/11/12 occupied island spaces</div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-3">Fortress</div>
                    <div class="table-cell tc-9">+1vp for every 3 colonists</div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-3">Customs House</div>
                    <div class="table-cell tc-9">+1vp for every 4 vp chips</div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-3">City Hall</div>
                    <div class="table-cell tc-9">+1vp for each violet building</div>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

<div id="flow-table" class="table table-sm">
    <div class="table-row">
        <div class="table-cell tc-5">
            <h4>Settler</h4>
            <p>Add plantation</p>
        </div>
        <div class="table-cell tc-6 tc-push-2">
            <h4>Builder</h4>
            <p>Production building</p>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-12">
            <img class="" src="~/lib/Images/Icons/curly-brace-down.png" style="width: 100%; height: 43px" />
        </div>
    </div>
@*    <div class="table-row">
        <div class="table-cell tc-1 rotate-90">
            <span style="font-size: 144px;">{</span>
        </div>
    </div>*@
    <div class="table-row">
        <div class="table-cell tc-3 tc-push-4" >
            <img class="icon" src="~/lib/Images/Icons/arrow-down.png" />
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-1 tc-push-5" style="margin-left: 5px">
            <h4>Mayor</h4>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-10 tc-push-2">
            <p>Add colonists to plantations and production buildings</p>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3 tc-push-4">
            <img class="icon" src="~/lib/Images/Icons/arrow-down.png" />
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-1 tc-push-5">
            <h4>Craftsman</h4>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-4 tc-push-4" style="margin-left: 10px">
            <p>Produce goods</p>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3 tc-push-4">
            <img class="icon" src="~/lib/Images/Icons/arrow-down.png" />
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-6 tc-push-4">
            <h4>Captain / Trader</h4>
        </div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-10 tc-push-2">
            <p>Ship or sell goods for vp or money</p>
        </div>
    </div>
</div>

<style>
#flow-table {
/*    margin-left: 300px;
    width: 1500px*/
    position: relative;
    margin-left: 200px;
    width: 1200px;
}

#flow-table h4  {
    margin: 10px 0 0;
}

#flow-table p {
    margin: 0 0 15px;
}

.icon {
    width: 50px;
    height: 66px;
    margin-left: 30px;
}

</style>
