@{
    ViewData["Title"] = "Pulsar 2849 Guide";
}

<style>
h3, h4, ol, ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-bottom: .5em;
}

ol, ul {
    margin-bottom: 1em;
}

li > ul {
    margin-bottom: 0;
}

footer {
    margin-bottom: 0;
}
</style>

<h3>Setup</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <ul>
                <li>Dice board: 4p side vs 2p or 3p side</li>
                <li>Main board: dead end side vs basic side</li>
                <li>9 dice for 4p; 7 dice for 2p or 3p</li>
                <li>Randomize planetary system tiles face down</li>
                <li>Construction award tiles for each gyrodyne type: 7pt on top of 4pt</li>
                <li>Shuffle exploration bonus tiles, face down</li>
                <li>Choose 3 goal tiles</li>
                <li>Use a tech board from I, II, and III</li>
                <li>Shuffle transmitter tiles, A atop B atop C</li>
            </ul>

        </div>
        <div class="table-cell tc-6">
            <ul>
                <li>Each player starts with a +/- die modifier</li>
                <li>Randomize player order, stack discs in reverse player order</li>
                <li>Start with 5 / 6 / 7 / 8 points</li>
                <li>Choose starting gates in reverse turn order</li>
            </ul>

        </div>
    </div>
</div>

<h3>Dice Phase</h3>
<ul>
    <li>Roll and arrange dice in a line</li>
    <li>Cover section with median die, then adjust median marker</li>
    <li>Snake draft for dice</li>
    <li>Move either player counter X spaces, X = distance from median marker</li>
    <li>Counter is placed on top if landing on other counters</li>
    <li>Cannot move a marker off right end of track; must choose a different die
        <ul>
            <li>if unable: choose any die and either counter; put counter on farthest right space and at bottom of stack</li>
        </ul>
    </li>
    <li>Chosen die would move marker off left edge: move to leftmost space and stop</li>
    <li>Counter is already at leftmost space: place counter on top of stack</li>
</ul>

<h3>Even Start Variant</h3>
<ul>
    <li>Round 1 only</li>
    <li>4p: set six dice to 1-6, roll the remaining 3</li>
    <li>2p or 3p: set four dice to 2-5, roll the remaining 3</li>
</ul>

<h3>Planets</h3>
<ul>
    <li>1 token per player on a planet</li>
    <li>1 token per player in a system</li>
    <li>"3+" planets not available for 2p game; "4" planets not available for 2p or 3p game</li>
    <li>Exploration bonus: choose either the system tile bonus, or a bonus tile from the stack</li>
</ul>

<h3>Bonus Die</h3>
<ul>
    <li>Limit 1 per turn per player</li>
    <li>Cannot be saved for later turns</li>
    <li>Copy the leftover silver die with 4 engineering cubes</li>
    <li>May take actions without receiving full benefit, <b>unless</b> benefit includes a red bonus die</li>
</ul>

<hr />

<h3>Action Phase</h3>

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h4>1. Fly Ship</h4>
            <ul>
                <li>Move exact amount</li>
                <li>Cannot move 0</li>
                <li>Cannot use a flight segment twice</li>
                <li>Do not apply flight techs for a turn starting space</li>
                <li>Flythrough
                    <ul>
                        <li>Do not claim pulsar</li>
                        <li>Establish station but no bonus, prioritize lifeless planets</li>
                    </ul>
                </li>
                <li>End flight
                    <ul>
                        <li>Claim an available pulsar</li>
                        <li>Establish station, prioritize blue planet (bonus)</li>
                        <li>No bonus for lifeless planet</li>
                        <li>Ignore flythrough trigger if also ending flight at system</li>
                    </ul>
                </li>
                <li>Dead End
                    <ul>
                        <li>Bonus tile for <b>claiming</b> a pulsar or establishing a station</li>
                        <li>Bonus tile for establishing a station, including flythroughs</li>
                        <li>Ending at a deadend system can give 2 bonuses</li>
                    </ul>
                </li>
            </ul>
            
            <h4>2. Develop Pulsar</h4>
            <ol>
                <li>Claim
                    <ul>
                        <li>end flight on a pulsar</li>
                        <li>tech or transmitter (isolated pulsar)</li>
                    </ul>
                </li>
                <li>Construct
                    <ul>
                        <li>spend a die or from a reward</li>
                        <li>may construct without having a pulsar claimed yet</li>
                        <li>adding to board is a free action, permanent, and optional</li>
                    </ul>
                </li>
                <li>Spin
                    <ul>
                        <li>spend a die</li>
                        <li>check for rewards (possible to get both)</li>
                    </ul>
                </li>
            </ol>
            
        </div>
        <div class="table-cell tc-6">
            <h4>3. Build Transmitter</h4>
            <ul>
                <li>Spend a die to take a transmitter, or build one you already have</li>
                <li>Mark spent die with color markers</li>
                <li>Decide to link or start new array, cannot change this later</li>
                <li>2 flipped transmitters may provide a red bonus die: can be 0 pips</li>
            </ul>

            <h4>4. HQ Project</h4>
            <ul>
                <li>Optional; use tech boards AI, AII, AIII if playing without HQ projects</li>
                <li>Base 3 spaces always available, must build upward</li>
                <li>Gate runs
                    <ul>
                        <li>complete project, then choose when to use it on any later flight</li>
                        <li>max 1 gate run per flight action, may choose which to use</li>
                        <li>do not count starting space</li>
                        <li>each gate can only count once per flight</li>
                        <li>multi-color gate run: only receive points for a single color</li>
                    </ul>
                </li>
            </ul>
            
            <h4>5. Patent Tech</h4>
            <ul>
                <li>Only have access up to round marker</li>
                <li>Spend die and place color marker</li>
                <li>No player can patent the same tech twice</li>
                <li>Lock icon
                    <ul>
                        <li>limits tech to 1 player per round</li>
                        <li>slide marker down at end of round</li>
                        <li>2p: limited to only 1 player</li>
                    </ul>
                </li>
            </ul>
            
            <h4>6. Buy die modifier</h4>
            <ul>
                <li>Spend 1/2 for a +/-1</li>
                <li>Spend 2 for a +2</li>
            </ul>
        </div>
    </div>
</div>

<hr />

<h3>Production Phase</h3>
<ul>
    <li>Gain cubes from transmitters first, which can then be spent on points if applicable</li>
    <li>Score gyrodynes; add bonus value next to round marker</li>
    <li>+? means the bonus is equal to value of median dice marker (rounded up)</li>
    <li>Scores cannot go negative (from penalties)</li>
</ul>

<h3>Final Scoring</h3>
<ul>
    <li>Exploration bonus tiles that award extra stations only contribute to the station count, not to the station goal tile</li>
    <li>Each gyrodyne can only count toward a single goal tile, no overlap</li>
</ul>


<h3>FAQ</h3>
<ul>
    <li>BI: 2pt whenever taking or flipping a md/lg gyrodyne does NOT apply when you receive a free gyrodyne as part of an exploration bonus; only gain 2pt when you use an actual die to take/flip the gyrodynes</li>
    <li>DI and DII bonuses should only apply when your flight ends at a system, as written the bonus is awarded for every flythrough</li>
    <li>DI: "If you end your flight at a planetary system and must establish a station on a lifeless planet, score 2 points. (You score 2 points even if another technology allows you to gain an exploration bonus.)"</li>
    <li>DII: "If you end your flight at a planetary system and must establish a station on a lifeless planet, gain the exploration bonus anyway (or draw a tile)."</li>
</ul>



