@{
    ViewData["Title"] = "Adrenaline Icons";
}

<style>
.effectdetails {
    max-width: 180px;
}
</style>

<partial name="../PartialViews/_AdrenalineIcons" />

<br /><br /><br /><br />

<partial name="../PartialViews/_AdrenalineIcons" />

<!-- Violet -->
<h3>Violet</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-4">
            <h4>Turn Order</h4>
            <ol>
                <li>Actions</li>
                <li>Replace ammo/weapons</li>
                <li><u>Character ability</u></li>
                <li>Score boards that received killshot</li>
                <li>Reload weapons</li>
                <li>Respawn (marks remain)</li>
            </ol>
        </div>
        <div class="table-cell tc-8">
            <h4>Character Ability</h4>
            <ul>
                <li>Choose <i>any</i> enemy, convert marks into damage or vice versa</li>
                <li>3 mark limit still applies</li>
                <li>Damage <span class="arrow"></span> mark only allowed for most recent damage</li>
                <li>Mark <span class="arrow"></span> damage does <i>not</i> trigger remaining marks</li>
                <li>Target of mark-consuming effects does not need to be within view</li>
                <li><u>Teams</u>: only convert tokens on the buffer, not player boards</li>
            </ul>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12"><h4>Unique Weapons</h4><br /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/nanoexplosion.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>Different target from basic effect</li>
                <li>Deals either 3 or 5 damage</li>
            </ul>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/detonationmode.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>Choose <i>any</i> target</li>
                <li>Remove N marks <span class="arrow"></span><br />N damage to all targets in that space</li>
            </ul>
        </div>
    </div>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

<!-- Banshee -->
<h3>Banshee</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-4">
            <h4>Turn Order</h4>
            <ol>
                <li>Actions</li>
                <li>Replace ammo/weapons</li>
                <li><u>Character ability</u></li>
                <li>Score boards that received killshot</li>
                <li>Reload weapons</li>
                <li>Respawn (marks remain)</li>
            </ol>
        </div>
        <div class="table-cell tc-8">
            <h4>Character Ability</h4>
            <ul>
                <li>May hypnotize 1 target within view</li>
                <li>Mind control tokens persist through all deaths</li>
                <li>Remove token when an ability requires a hypnotized target</li>
                <li>Use the hypnotized target's view for abilities, not Banshee's view</li>
                <li>Tagback grenades will hit Banshee, not the hypnotized target</li>
                <li>Damage dealt by hypnotized targets counts as Banshee's damage</li>
            </ul>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12"><h4>Unique Weapons</h4><br /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/puppetmaster.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>Choose 2 <i>other</i> hypnotized targets</li>
                <li>Both need vision on first target</li>
                <li>Banshee does not need vision on <br /> targets #2 and #3</li>
            </ul>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/possessor.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>Banshee does not need vision on any</li>
                <li>Use hypnotized target's vision</li>
                <li>May use just for Ragdoll effect</li>
            </ul>
        </div>
    </div>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

<partial name="../PartialViews/_AdrenalineIcons" />

<br /><br /><br /><br />

<partial name="../PartialViews/_AdrenalineIcons" />

<!-- Sprog -->
<h3>Sprog</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-4">
            <h4>Turn Order</h4>
            <ol>
                <li>Actions</li>
                <li>Replace ammo/weapons</li>
                <li><u>Character ability</u></li>
                <li>Score boards that received killshot</li>
                <li>Reload weapons</li>
                <li>Respawn (marks remain)</li>
            </ol>
        </div>
        <div class="table-cell tc-8">
            <h4>Character Ability</h4>
            <ul>
                <li>All poisoned enemies take 1 damage</li>
                <li>Venom stays with target until it dies</li>
                <li>Venom token remains through Sprog's death</li>
                <li>Poison damage does <i>not</i> trigger marks</li>
                <li><u>Teams</u>: Poison damage bypasses buffer</li>
            </ul>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12"><h4>Unique Weapons</h4><br /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/venomblade.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>Execute effects in any order</li>
                <li>May use Left Hook without basic effect</li>
                <li>3 damage target &ne; poison target</li>
            </ul>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/putrifier.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>Basic: movement happens last</li>
                <li>Toxic Gas: poison everyone in adjacent room</li>
            </ul>
        </div>
    </div>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

<!-- D-Struct-Or -->
<h3>D-Struct-Or</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-4">
            <h4>Turn Order</h4>
            <ol>
                <li>Actions</li>
                <li>Replace ammo/weapons</li>
                <li><u>Character ability</u></li>
                <li>Score boards that received killshot</li>
                <li>Reload weapons</li>
                <li>Respawn (marks remain)</li>
            </ol>
        </div>
        <div class="table-cell tc-8">
            <h4>Character Ability</h4>
            <ul>
                <li>May buy powerup(s) with ammo (+ powerup)</li>
                <li>Can pay ammo cost with a powerup</li>
                <li>Cannot pay the powerup cost with ammo</li>
            </ul>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12"><h4>Unique Weapons</h4><br /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/bomberman.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>Bombs move away from you in straight lines, through doors, but not walls</li>
                <li>Bombs can hit target in multiple directions,<br />including your own square</li>
                <li>Either mode: choose <i>up to</i> 3 different targets,<br />may choose to assign lesser damage</li>
            </ul>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/wreckingball.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>Effects must be done in this order</li>
                <li>Each move must be to a new square</li>
            </ul>
        </div>
    </div>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

<partial name="../PartialViews/_AdrenalineIcons" />

<br /><br /><br /><br />

<partial name="../PartialViews/_AdrenalineIcons" />

<h3>Echo</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-4">
            <h4>Turn Order</h4>
            <ol>
                <li>Actions</li>
                <li>Replace ammo/weapons</li>
                <li><u>Character ability</u></li>
                <li>Score boards that received killshot</li>
                <li>Reload weapons</li>
                <li>Respawn (marks remain)</li>
            </ol>
        </div>
        <div class="table-cell tc-8">
            <h4>Character Ability</h4>
            <ul>
                <li>Hack (flip) 1 ammo tile within view, but not on her own square</li>
                <li>Players may grab hacked ammo <span class="arrow"></span> 2 ammo of any color(s)</li>
                <li>Vision of the hacked ammo is <i>not</i> required for unique weapons</li>
            </ul>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12"><h4>Unique Weapons</h4><br /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/kaboom.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>3 damage to 1, or 1 damage to all</li>
                <li>May use either effect or both</li>
                <li>For both, must explode 2 different tiles</li>
            </ul>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/shadowalk.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>May teleport before or after basic effect</li>
                <li>May choose to teleport with no target</li>
            </ul>
        </div>
    </div>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

<h3>Dozer</h3>
<div class="table">
    <div class="table-row">
        <div class="table-cell tc-4">
            <h4>Turn Order</h4>
            <ol>
                <li>Actions</li>
                <li>Replace ammo/weapons</li>
                <li><u>Character ability</u></li>
                <li>Score boards that received killshot</li>
                <li>Reload weapons</li>
                <li>Respawn (marks remain)</li>
            </ol>
        </div>
        <div class="table-cell tc-8">
            <h4>Character Ability</h4>
            <ul>
                <li>Flip 1 token to hot side, may pay 1 ammo to flip a 2nd token</li>
                <li>Tokens retain their state through all deaths</li>
                <li>Effects that use overload always flip <i>all</i> tokens</li>
            </ul>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12"><h4>Unique Weapons</h4><br /></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/shrapnel.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>Basic effect not required for extra effect(s)</li>
                <li>Flip 2+ <span class="arrow"></span> choose 1 effect</li>
                <li>Flip 4 <span class="arrow"></span> both effects</li>
                <li>All target squares can be same or different</li>
            </ul>
        </div>
        <div class="table-cell tc-2">
            <img src="~/lib/Images/Adrenaline/voltage.png" class="effectdetails" />
        </div>
        <div class="table-cell tc-4">
            <ul>
                <li>+1 damage per overload token</li>
            </ul>
        </div>
    </div>
</div>
