@{
    ViewData["Title"] = "Adrenaline";
}

<h2>Adrenaline</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "AdrenalineGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Player Aids", "Index", "Games", new { gamename = "AdrenalinePlayerAid" })</p>
