@{
    ViewData["Title"] = "Alien Frontiers Reference";
}

<style>
.generator {
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    width: 20px;
    padding: 2px;
    color: white;
    font-weight: bold;
    outline: 1px solid black;
}

.orange {
    background-color: #ED5822;
}

.green {
    background-color: #8BC042;
}

.purple {
    background-color: #6B2B84;
}

.icon {
    width: 25px;
    vertical-align:middle;
}
</style>

<div class="table table-100 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1"><span class="generator orange">I</span></div>
        <div class="table-cell tc-2">Isolation Field</div>
        <div class="table-cell tc-3">disables territory bonus</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1"><span class="generator green">P</span></div>
        <div class="table-cell tc-2">Positron Field</div>
        <div class="table-cell tc-3">+1 vp</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-1"><span class="generator purple">R</span></div>
        <div class="table-cell tc-2">Repulsor Field</div>
        <div class="table-cell tc-3">colonies cannot be added or removed</div>
    </div>
</div>

<br />

<h3>Asteroid Board <img src="~/lib/Images/AlienFrontiers/navigation.png" class="icon" /> </h3>

<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-3">
            <img src="~/lib/Images/AlienFrontiers/die1.png" class="icon" /><img src="~/lib/Images/AlienFrontiers/die2.png" class="icon" />
        </div>
    </div>
    <br /><br />
    <div class="table-row">
        <div class="table-cell tc-3">
            <img src="~/lib/Images/AlienFrontiers/die2.png" class="icon" /><img src="~/lib/Images/AlienFrontiers/die3.png" class="icon" /><img src="~/lib/Images/AlienFrontiers/die4.png" class="icon" />
        </div>
    </div>
    <br /><br />
    <div class="table-row">
        <div class="table-cell tc-3">
            <img src="~/lib/Images/AlienFrontiers/die3.png" class="icon" /><img src="~/lib/Images/AlienFrontiers/die4.png" class="icon" /><img src="~/lib/Images/AlienFrontiers/die5.png" class="icon" />
        </div>
    </div>
    <br /><br />
    <div class="table-row">
        <div class="table-cell tc-3">
            <img src="~/lib/Images/AlienFrontiers/die5.png" class="icon" /><img src="~/lib/Images/AlienFrontiers/die6.png" class="icon" />
        </div>
    </div>

</div>

