@{
    ViewData["Title"] = "Alien Frontiers Guide";
}

<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-6">
            <h3>Setup</h3>
            <ul>
                <li>1 Alien Tech</li>
                <li>2 Agendas</li>
                <li>Burn 2 Asteroid cards, deal 1</li>
            </ul>
        </div>
        <div class="table-cell tc-6">
            <h3>Tie</h3>
            <ol>
                <li>Revealed agenda cards</li>
                <li>Alien tech cards</li>
                <li>Ore tokens</li>
                <li>Fuel tokens</li>
            </ol>
        </div>
    </div>
</div>

<br /><br />

<h3>Orbital Facilities</h3>
<ul>
    <li><b>Lunar Mine</b>: each new ship must be greater than or equal to the highest value ship currently docked (not necessarily the most recent ship)</li>
    <li><b>Colonist Hub</b>
        <ul>
            <li>May not start new colonist hub until existing colony is launched</li>
            <li>excess hub movements: may launch colony then apply excess to new</li>
            <li>may launch colonies from hub track using Terraforming Station or Colony Constructor</li>
        </ul>
    </li>
    <li><b>Orbital Market</b>
        <ul>
            <li>Dock a pair of X to trade fuel:ore at an X:1 ratio OR</li>
            <li>Draw two (2) agenda cards then discard down if necessary</li>
        </ul>
    </li>
    <li><b>Raiders' Outpost</b>: a sequence is larger if its sum is larger</li>
    <li><b>Terraforming Station</b>
        <ul>
            <li><i>The ship ... is returned to the ship stock at the beginning of your next turn.</i></li>
            <li>Relic Ship <u>may</u> be used</li>
        </ul>
    </li>
</ul>

<br /><br />

<h3>Notes</h3>
<ul>
    <li>Blish Expanse is adjacent to Van Vogt Mountains (and nothing else) for REV and Seismic Detonator</li>
    <li>Do not pay docking fee to your own faction facility (additional costs still apply)</li>
    <li>Asteroid discards really go directly to bottom of deck; no discard->shuffle</li>
    <li>Do not close gaps on Asteroid Board</li>
    <li>Ships purchased from Shipyard or Burroughs Desert, or bumped by an Alien tech or Raiders' Outpost, go to the Maintenance Bay</li>
    <li>Alien Tech
        <ul>
            <li>One activation per card per turn</li>
            <li>Cannot discard a card that has been activated</li>
            <li>One discard ability per turn</li>
            <li>Stealing a duplicate: duplicate is immediately discarded</li>
        </ul>
    </li>
</ul>

<br /><br />

<h3>Alien Tech and Terraforming Station</h3>
<div class="table table-60 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-6"><b>Yes Terraforming</b></div>
        <div class="table-cell tc-6"><b>No Terraforming</b></div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">Plasma Cannon</div>
        <div class="table-cell tc-6">Mind Control Helmet</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">Astrogation Servo (discard)</div>
        <div class="table-cell tc-6">Orbital Teleporter (destination: yes)</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">Neutrino Missile Salvo</div>
        <div class="table-cell tc-6">Astrogation Servo (activate)</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">Superconducting Grapple (activate)</div>
        <div class="table-cell tc-6">Chameleon Cloak</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-6">Superconducting Grapple (discard)</div>
        <div class="table-cell tc-6">Infiltration A.I.</div>
    </div>

</div>
