@{
    ViewData["Title"] = "Archipelago";
}

<h2>Archipelago</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "ArchipelagoGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Actions and Buildings", "Index", "Games", new { gamename = "ArchipelagoActionBuilding" })</p>

<br /><br />

<p>@Html.ActionLink("End Game", "Index", "Games", new { gamename = "ArchipelagoEndGame" })</p>

