@{
    ViewData["Title"] = "Ark Nova";
}

<h2>Ark Nova</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "ArkNovaGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Icons", "Index", "Games", new { gamename = "ArkNovaIcons" })</p>

<br /><br />

<p>@Html.ActionLink("Glossary", "Index", "Games", new { gamename = "ArkNovaGlossary" })</p>

