@{
    ViewData["Title"] = "Ark Nova Icons";
}

<div class="table table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-1">
            &nbsp;
        </div>
        <div class="table-cell tc-2">
            1
        </div>
        <div class="table-cell tc-2">
            2
        </div>
        <div class="table-cell tc-2">
            3
        </div>
        <div class="table-cell tc-2">
            4
        </div>
        <div class="table-cell tc-2">
            5
        </div>
        <div class="table-cell tc-2">
            6+
        </div>
    </div>


    <!-- africa -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/africa.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- europe -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/europe.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- asia -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/asia.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- america -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/america.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- australia -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/australia.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- birds -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/birds.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- predators -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/predators.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- herbivores -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/herbivores.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- reptiles -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/reptiles.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- primates -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/primates.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- sea -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/sea.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- bears -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/bears.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- petting -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/petting.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- research -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/research.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- rock -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/rock.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- water -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/water.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- large -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/large.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

    <!-- small -->
    <div class="table-row">
        <div class="table-cell tc-1">
            <img src="~/lib/Images/ArkNova/small.png" />
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
        <div class="table-cell tc-2">
            
        </div>
    </div>

</div>


