@{
    ViewData["Title"] = "Happy Pigs";
}

<h2>Happy Pigs</h2>

<p>@Html.ActionLink("Tables", "Index", "Games", new { gamename = "HappyPigsTables" })</p>

<br /><br />

<p>@Html.ActionLink("Player Aid", "Index", "Games", new { gamename = "HappyPigsPlayerAid" })</p>

