@{
    ViewData["Title"] = "Samurai Spirit Turn Summary";
}

<style>
h3, h4, ol, ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-bottom: .5em;
}

ol, ul {
    margin-bottom: 1em;
}

li > ul {
    margin-bottom: 0;
}

footer {
    margin-bottom: 0;
}
</style>

<h4>1. Apply Penalty</h4>

<p>Reminders:
<ul>
    <li>Left / Right</li>
    <li>Intruder</li>
</ul>
<h4>2. Action</h4>
</p>

<ul>
    <li>Pass
        <ul>
            <li>Lay down samurai</li>
            <li>Skip turns for remainder of round</li>
            <li>Avoid getting overwhelmed,<br />other players deal with raiders</li>
        </ul>
    </li>
    <li>Support
        <ul>
            <li>Give talent to another samurai</li>
            <li>Add intruder</li>
            <li>Collaborate and prevent penalties</li>
            <li>"Soft pass"</li>
        </ul>
    </li>
    <li>Fight
        <ul>
            <li>Confront: add to battle line</li>
            <li>Defend: place next to icon</li>
        </ul>
    </li>
</ul>

<h4>3. Return Talents</h4>

