@{
    ViewData["Title"] = "Samurai Spirit";
}

<h2>Samurai Spirit</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "SamuraiSpiritGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Player Aid", "Index", "Games", new { gamename = "SamuraiSpiritPlayerAid" })</p>

<br /><br />

<p>@Html.ActionLink("Turn Summary", "Index", "Games", new { gamename = "SamuraiSpiritTurnSummary" })</p>
