@{
    ViewData["Title"] = "Smart Phone Inc.";
}


<!-- ---------- GPS ---------- -->
<!-- ---------- GPS ---------- -->
<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/gps_icon.png" class="icon" /></div>
		<div class="round">3</div>
		<div class="desc"><img src="~/lib/Images/Smartphone/phone.png" /> for each <img src="~/lib/Images/Smartphone/phone_minus_dollar.png" /></div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/gps_icon.png" class="icon" /></div>
		<div class="round">&nbsp;*</div>
		<div class="desc">+5 <img src="~/lib/Images/Smartphone/phone.png" /> now, one-time bonus</div>
	</div>
</div>

<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/gps_icon.png" class="icon" /></div>
		<div class="round">8</div>
		<div class="desc">+2pts for each <img src="~/lib/Images/Smartphone/phone.png" /> sold in a chosen region</div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/gps_icon.png" class="icon" /></div>
		<div class="round">8</div>
		<div class="desc">Produce 1 <img src="~/lib/Images/Smartphone/phone.png" /> for each region you control</div>
	</div>
</div>

<!-- ---------- WiFi ---------- -->
<!-- ---------- WiFi ---------- -->
<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/wifi_icon.png" class="icon" /></div>
		<div class="round">6</div>
		<div class="desc">Once per round, place 2nd <img src="~/lib/Images/Smartphone/office.png" /> to region with your <img src="~/lib/Images/Smartphone/office.png" /></div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/wifi_icon.png" class="icon" /></div>
		<div class="round">&nbsp;</div>
		<div class="desc">Unsold <img src="~/lib/Images/Smartphone/phone.png" /> transfer to next round</div>
	</div>
</div>

<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/wifi_icon.png" class="icon" /></div>
		<div class="round">6</div>
		<div class="desc">After placing <img src="~/lib/Images/Smartphone/bars.png" />, sell <img src="~/lib/Images/Smartphone/phone.png" /> in 1 region with <img src="~/lib/Images/Smartphone/office.png" /> and CEO</div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/wifi_icon.png" class="icon" /></div>
		<div class="round">3</div>
		<div class="desc">Place up to 2 <img src="~/lib/Images/Smartphone/phone.png" /> on <img src="~/lib/Images/Smartphone/truck.png" /> and/or <img src="~/lib/Images/Smartphone/gear.png" /> to add corresponding <img src="~/lib/Images/Smartphone/bars.png" /></div>
	</div>
</div>

<!-- ---------- Game ---------- -->
<!-- ---------- Game ---------- -->
<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/game_icon.png" class="icon" /></div>
		<div class="round">5*</div>
		<div class="desc">Tech costs -1</div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/game_icon.png" class="icon" /></div>
		<div class="round">&nbsp;*</div>
		<div class="desc">Place <img src="~/lib/Images/Smartphone/office.png" /> in a small region now</div>
	</div>
</div>

<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/game_icon.png" class="icon" /></div>
		<div class="round">7</div>
		<div class="desc">Ignore requirements in a region with <img src="~/lib/Images/Smartphone/office.png" /> and CEO</div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/game_icon.png" class="icon" /></div>
		<div class="round">7</div>
		<div class="desc">Any patent: sell 2 <img src="~/lib/Images/Smartphone/phone.png" /> to any buyer of given tech</div>
	</div>
</div>

<!-- ---------- Battery ---------- -->
<!-- ---------- Battery ---------- -->
<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/battery_icon.png" class="icon" /></div>
		<div class="round">3*</div>
		<div class="desc">Produce 2 <img src="~/lib/Images/Smartphone/phone.png" /> for each patent you hold</div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/battery_icon.png" class="icon" /></div>
		<div class="round">&nbsp;*</div>
		<div class="desc">Take 1 mini improvement</div>
	</div>
</div>

<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/battery_icon.png" class="icon" /></div>
		<div class="round">6</div>
		<div class="desc">+1 <img src="~/lib/Images/Smartphone/truck.png" /> for each <img src="~/lib/Images/Smartphone/plus_dollar.png" /></div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/battery_icon.png" class="icon" /></div>
		<div class="round">3*</div>
		<div class="desc">+1 <img src="~/lib/Images/Smartphone/phone.png" /> for every 2 tech now and in later rounds</div>
	</div>
</div>

<!-- ---------- NFC ---------- -->
<!-- ---------- NFC ---------- -->
<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/nfc_icon.png" class="icon" /></div>
		<div class="round">6</div>
		<div class="desc">May sell up to 3 <img src="~/lib/Images/Smartphone/phone.png" /> without placing in a region</div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/nfc_icon.png" class="icon" /></div>
		<div class="round">2</div>
		<div class="desc">+1 <img src="~/lib/Images/Smartphone/plus_dollar.png" /> now and in later rounds</div>
	</div>
</div>

<div class="row">
	<div class="item" style="width: 90%;">
		<div class="img" style="width: 6.5%;"><img src="~/lib/Images/Smartphone/nfc_icon.png" class="icon" /></div>
		<div class="round" style="width: 1.5%;">5</div>
		<div class="desc" style="width: 50%;">Once per round, use 1 <img src="~/lib/Images/Smartphone/gear.png" /> to place marketing token
			<ul>
				<li>1 token per player per region</li>
				<li>place on leftmost or rightmost empty buyer in region with <img src="~/lib/Images/Smartphone/office.png" /></li>
				<li>only you can sell to this buyer</li>
				<li>ignore requirements for this buyer</li>
			</ul>
		</div>
	</div>
</div>

<!-- ---------- 4G ---------- -->
<!-- ---------- 4G ---------- -->
<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/4g_icon.png" class="icon" /></div>
		<div class="round">1</div>
		<div class="desc">Improvement tiles can extend beyond edge of pads</div>
	</div>
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/4g_icon.png" class="icon" /></div>
		<div class="round">7</div>
		<div class="desc">May sell up to 1 <img src="~/lib/Images/Smartphone/phone.png" /> in each region without your <img src="~/lib/Images/Smartphone/office.png" /></div>
	</div>
</div>

<div class="row">
	<div class="item">
		<div class="img"><img src="~/lib/Images/Smartphone/4g_icon.png" class="icon" /></div>
		<div class="round">&nbsp;*</div>
		<div class="desc">Place a retailer in a region with your <img src="~/lib/Images/Smartphone/office.png" /></div>
	</div>
</div>



<style>
* {
	font-family:  calibri;
}

body {
	width: 1200px;
}

.row {
	clear: both;
}

.item {
	float: left;
	width: 45%;
	padding-bottom: 4em;
}

.item > div {
	float:  left;
}

.img {
	width: 13%;
}

.round {
	width:  3%;
	text-align: center;
	border: 1px solid black;
}

.desc {
	width: 42%;
	padding-left: 1em;
}

.icon {
	width: 40px;
}

</style>

