@{
    ViewData["Title"] = "Spirit Island";
}

<h2>Spirit Island</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "SpiritIslandGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Element Tracker", "Index", "Games", new { gamename = "SpiritIslandElementTracker" })</p>

<br /><br />

<p>@Html.ActionLink("Picker", "Index", "Games", new { gamename = "SpiritIslandPicker" })</p>
