@{
    ViewData["Title"] = "Star Wars Rebellion Objectives";
}

<style>
h3, h4, ol, ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-bottom: .5em;
}

ol, ul {
    margin-bottom: 1em;
}

li > ul {
    margin-bottom: 0;
}

footer {
    margin-bottom: 0;
}
</style>

<!-- Level I -->
<h2>Level I</h2>

<div class="table table-padding-1">

    <!-- The Long War -->
    <div class="table-row">
        <div class="table-cell tc-2">
            The Long War
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            Discard 2 other objectives
        </div>
    </div>

    <!-- Regional Support -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Regional Support
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            All populous systems in 1 region have Rebel loyalty
        </div>
    </div>

    <!-- Defensive Position -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Defensive Position
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            1 system contains 3 Rebel structures, cannot be “Rebel Base”
        </div>
    </div>

    <!-- Threaten the Core -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Threaten the Core
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            5 Rebel units in/adjacent to Coruscant
        </div>
    </div>

    <!-- Defend the People -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Defend the People
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            4 Rebel systems contain a Rebel unit (not counting “Rebel Base”)
        </div>
    </div>

    <!-- Cut Supply Lines -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Cut Supply Lines
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            3 Imperial systems contain either sabotage or Rebel unit
        </div>
    </div>

    <!-- Support of the Hutts -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Support of the Hutts
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            3 systems in Nal Hutta's region have Rebel loyalty
        </div>
    </div>

    <!-- Crippling Blow -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Crippling Blow
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            At least 3-health worth of Imperial ground units are destroyed in combat you initiated
        </div>
    </div>

    <!-- Decisive Victory -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Decisive Victory
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            Win space battle and ground battle during the same combat
        </div>
    </div>

    <!-- Rebel Assault -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Rebel Assault
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            (Super) Star Destroyer is destroyed in combat you initiated
        </div>
    </div>

</div>

<br />
<hr />

<!-- Level II -->
<h2>Level II</h2>

<div class="table table-padding-1">

    <!-- Leave No One Behind -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Leave No One Behind
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            There are no captured Rebel leaders
        </div>
    </div>

    <!-- A Time for Peace -->
    <div class="table-row">
        <div class="table-cell tc-2">
            A Time for Peace
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            Destroy on Rebel build queue: 2 triangle, 1 circle, 1 square
        </div>
    </div>

    <!-- Popular Support -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Popular Support
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            6 systems have Rebel loyalty
        </div>
    </div>

    <!-- Heart of the Empire -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Heart of the Empire<span class="dagger"></span>
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            Coruscant contains a Rebel unit but no Imperial units
        </div>
    </div>

    <!-- Liberation -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Liberation
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            Win ground battle in subjugated system
        </div>
    </div>

    <!-- Seize Control -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Seize Control
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            Win space or ground battle in system with sabotage marker
        </div>
    </div>

    <!-- Death Star Plans -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Death Star Plans<span class="dagger"></span>
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            Have a fighter after space battle step, roll a direct hit off 3 dice
        </div>
    </div>

    <!-- Rebel Cell -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Rebel Cell
        </div>
        <div class="table-cell tc-1">
            Immediate
        </div>
        <div class="table-cell tc-9">
            Place target marker in any Rebel system <span class="arrow"></span>
            <br />
            Refresh: discard objective for 1 reputation
        </div>
    </div>

    <!-- Raid Outposts -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Raid Outposts
        </div>
        <div class="table-cell tc-1">
            Immediate
        </div>
        <div class="table-cell tc-9">
            Imperial places target markers in remote systems
            <br />
            Remove a target marker for 1 reputation
        </div>
    </div>

</div>

<br /><br />
<hr />

<!-- Level III -->
<h2>Level III</h2>

<div class="table table-padding-1">

    <!-- Inspire Sympathy -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Inspire Sympathy
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            1 reputation for each destroyed system
        </div>
    </div>

    <!-- Establish Outposts -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Establish Outposts
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            5 systems contain a Rebel unit
        </div>
    </div>

    <!-- Show No Fear -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Show No Fear
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            Place marker on Rebel Base's system
            <br />
            Refresh: 1 reputation while marker remains
        </div>
    </div>

    <!-- Uprising -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Uprising<span class="dagger"></span>
        </div>
        <div class="table-cell tc-1">
            Refresh
        </div>
        <div class="table-cell tc-9">
            9 systems have Rebel loyalty
        </div>
    </div>

    <!-- Major Victory -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Major Victory
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            3-health worth of Imperial ships destroyed in combat you initiated
        </div>
    </div>

    <!-- Raid Imperial Factory -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Raid Imperial Factory
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            Win a battle during combat you initiated in a system with a square resource icon
        </div>
    </div>

    <!-- Return of the Jedi -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Return of the Jedi<span class="dagger"></span>
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            Win a battle in Vader or Palpatine's system
        </div>
    </div>

    <!-- Death Star Plans -->
    <div class="table-row">
        <div class="table-cell tc-2">
            Death Star Plans<span class="dagger"></span>
        </div>
        <div class="table-cell tc-1">
            Combat
        </div>
        <div class="table-cell tc-9">
            Have a fighter after space battle step, roll a direct hit off 3 dice
        </div>
    </div>

</div>
