@{
    ViewData["Title"] = "Star Wars Rebellion Missions";
}

<style>
h3, h4, ol, ul, p {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-bottom: .5em;
}

ol, ul {
    margin-bottom: 1em;
}

li > ul {
    margin-bottom: 0;
}

footer {
    margin-bottom: 0;
}
</style>

<!-- Imperial Starters -->
<h3>Imperial Starters</h3>
<div class="table table-padding-1">
    <!-- Rule by Fear -->
    <div class="table-row">
        <div class="table-cell tc-3">
            Rule by Fear
        </div>
        <div class="table-cell tc-2">
            Diplomacy
        </div>
        <div class="table-cell tc-7">
            +1 loyalty
        </div>
    </div>

    <!-- Gather Intel -->
    <div class="table-row">
        <div class="table-cell tc-3">
            Gather Intel
        </div>
        <div class="table-cell tc-2">
            Intel
        </div>
        <div class="table-cell tc-7">
            Draw 1 probe per 4 units at Rebel Base
        </div>
    </div>

    <!-- Research and Development -->
    <div class="table-row">
        <div class="table-cell tc-3">
            R & D
        </div>
        <div class="table-cell tc-2">
            Logistics
        </div>
        <div class="table-cell tc-7">
            Draw 2 projects, keep 1; OR
            <br />
            Remove sabotage and draw 1 project
        </div>
    </div>

    <!-- Capture Rebel Operative -->
    <div class="table-row">
        <div class="table-cell tc-3">
            Capture Rebel Operative
        </div>
        <div class="table-cell tc-2">
            Spec Ops
        </div>
        <div class="table-cell tc-7">
            Capture leader
        </div>
    </div>
</div>

<br /><br />

<hr />

<!--  -->
<h3>Rebel Starters</h3>
<div class="table table-padding-1">
    <!-- Build Alliance -->
    <div class="table-row">
        <div class="table-cell tc-3">
            Build Alliance
        </div>
        <div class="table-cell tc-2">
            Diplomacy
        </div>
        <div class="table-cell tc-7">
            +1 loyalty
        </div>
    </div>

    <!-- Infiltration -->
    <div class="table-row">
        <div class="table-cell tc-3">
            Infiltration
        </div>
        <div class="table-cell tc-2">
            Intel
        </div>
        <div class="table-cell tc-7">
            Draw 2 objectives, keep 1
        </div>
    </div>

    <!-- Rapid Mobilization -->
    <div class="table-row">
        <div class="table-cell tc-3">
            Rapid Mobilization
        </div>
        <div class="table-cell tc-2">
            Logistics
        </div>
        <div class="table-cell tc-7">
            Move 5 units from any system to here; OR
            <br />
            Establish new base
        </div>
    </div>

    <!-- Sabotage -->
    <div class="table-row">
        <div class="table-cell tc-3">
            Sabotage
        </div>
        <div class="table-cell tc-2">
            Spec Ops
        </div>
        <div class="table-cell tc-7">
            Destroy shield bunker; if populous may instead place sabotage marker
        </div>
    </div>
</div>

