@{
    ViewData["Title"] = "Suburbia";
}

<h2>Suburbia</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "SuburbiaGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Tile Distribution", "Index", "Games", new { gamename = "SuburbiaTiles" })</p>
