@{
    ViewData["Title"] = "Suburbia Tile Distribution";
}

<style>
.table-row:nth-child(2n) .table-cell {
    background-color: cyan;
}
</style>

<div class="table table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-2">
            <b>Type</b>
        </div>
        <div class="table-cell tc-1">
            <b>A</b>
        </div>
        <div class="table-cell tc-1">
            <b>B</b>
        </div>
        <div class="table-cell tc-1">
            <b>C</b>
        </div>
        <div class="table-cell tc-1">
            <b>Total</b>
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Restaurant
        </div>
        <div class="table-cell tc-1">
            10
        </div>
        <div class="table-cell tc-1">
            1
        </div>
        <div class="table-cell tc-1">
            1
        </div>
        <div class="table-cell tc-1">
            12
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Office
        </div>
        <div class="table-cell tc-1">
            6
        </div>
        <div class="table-cell tc-1">
            3
        </div>
        <div class="table-cell tc-1">
            4
        </div>
        <div class="table-cell tc-1">
            13
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Airport
        </div>
        <div class="table-cell tc-1">
            2
        </div>
        <div class="table-cell tc-1">
            3
        </div>
        <div class="table-cell tc-1">
            2
        </div>
        <div class="table-cell tc-1">
            7
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            School
        </div>
        <div class="table-cell tc-1">
            0
        </div>
        <div class="table-cell tc-1">
            5
        </div>
        <div class="table-cell tc-1">
            6
        </div>
        <div class="table-cell tc-1">
            11
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Skyscraper
        </div>
        <div class="table-cell tc-1">
            0
        </div>
        <div class="table-cell tc-1">
            2
        </div>
        <div class="table-cell tc-1">
            0
        </div>
        <div class="table-cell tc-1">
            2
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Car
        </div>
        <div class="table-cell tc-1">
            0
        </div>
        <div class="table-cell tc-1">
            0
        </div>
        <div class="table-cell tc-1">
            2
        </div>
        <div class="table-cell tc-1">
            2
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-2">
            Dice
        </div>
        <div class="table-cell tc-1">
            2
        </div>
        <div class="table-cell tc-1">
            1
        </div>
        <div class="table-cell tc-1">
            2
        </div>
        <div class="table-cell tc-1">
            5
        </div>
    </div>
</div>
