@{
    ViewData["Title"] = "Imhotep";
}

<h2>Imhotep</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "ImhotepGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Cards", "Index", "Games", new { gamename = "ImhotepCards" })</p>

<br /><br />

<p>@Html.ActionLink("Card Distribution", "Index", "Games", new { gamename = "ImhotepCardDistribution" })</p>

