@{
    ViewData["Title"] = "Imhotep Cards";
}

<style>
body {
    margin: 0;
    width: 1020px;
}

</style>

@*<div style="position: absolute; width: 510px; height: 2000px; border: 1px solid red;"></div>*@

<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-5">
            <partial name="../PartialViews/_ImhotepBlueCards" />
        </div>
        <div class="table-cell tc-push-2 tc-5">
            <partial name="../PartialViews/_ImhotepBlueCards" />
        </div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-12" style="padding-top: 5em;">&nbsp;</div>
    </div>

    <div class="table-row">
        <div class="table-cell tc-5">
            <partial name="../PartialViews/_ImhotepBlueCards" />
        </div>
        <div class="table-cell tc-push-2 tc-5">
            <partial name="../PartialViews/_ImhotepBlueCards" />
        </div>
    </div>
</div>


<div class="table table-100" style="padding-top: 38em;">
    <div class="table-row">
        <div class="table-cell tc-5">
            <partial name="../PartialViews/_ImhotepRedCards" />
        </div>
        <div class="table-cell tc-push-2 tc-5">
            <partial name="../PartialViews/_ImhotepRedCards" />
        </div>
    </div>

    <div class="table-row">
        <br /><br />
        <div class="table-cell tc-12" style="padding-top: 9em;">&nbsp;</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell tc-5">
            <partial name="../PartialViews/_ImhotepRedCards" />
        </div>
        <div class="table-cell tc-push-2 tc-5">
            <partial name="../PartialViews/_ImhotepRedCards" />
        </div>
    </div>



</div>
@*
<!-- Blue Cards -->
<div style="position: absolute; width: 100%; left: 0; top: 0">
    <partial name="../PartialViews/_ImhotepBlueCards" />
</div>

<div style="position: absolute; width: 100%; left: 50%; top: 0">
    <partial name="../PartialViews/_ImhotepBlueCards" />
</div>

<div style="position: absolute; width: 100%; left: 0; top: 400px">
    <partial name="../PartialViews/_ImhotepBlueCards" />
</div>

<div style="position: absolute; width: 100%; left: 50%; top: 400px">
    <partial name="../PartialViews/_ImhotepBlueCards" />
</div>

<!-- Red Cards -->
<div style="position: absolute; width: 100%; left: 0; top: 1475px">
    <partial name="../PartialViews/_ImhotepRedCards" />
</div>

<div style="position: absolute; width: 100%; left: 50%; top: 1475px">
    <partial name="../PartialViews/_ImhotepRedCards" />
</div>

<div style="position: absolute; width: 100%; left: 0; top: 1875px">
    <partial name="../PartialViews/_ImhotepRedCards" />
</div>

<div style="position: absolute; width: 100%; left: 50%; top: 1875px">
    <partial name="../PartialViews/_ImhotepRedCards" />
</div>
*@

