@{
    ViewData["Title"] = "Imhotep Card Distribution";
}

<h3>Card Distribution</h3>
<div class="table table-sm">
    <div class="table-row">
        <div class="table-cell tc-2">2</div>
        <div class="table-cell tc-10">Lever</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">2</div>
        <div class="table-cell tc-10">Hammer</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">3</div>
        <div class="table-cell tc-10">Sail</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">3</div>
        <div class="table-cell tc-10">Chisel</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">2</div>
        <div class="table-cell tc-10">Raft</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">2</div>
        <div class="table-cell tc-10">Loading Plank</div>
    </div>

    <br /><br />

    <div class="table-row">
        <div class="table-cell tc-2">2 each</div>
        <div class="table-cell tc-10">Red cards</div>
    </div>

    <br /><br />

    <div class="table-row">
        <div class="table-cell tc-2">2 each</div>
        <div class="table-cell tc-10">Green cards</div>
    </div>

    <br /><br />

    <div class="table-row">
        <div class="table-cell tc-2">14</div>
        <div class="table-cell tc-10">Statue</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-2">2</div>
        <div class="table-cell tc-10">Cargo Sled</div>
    </div>
</div>
