@{
    ViewData["Title"] = "Imperial Settlers";
}

<h2>Imperial Settlers</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "ImperialSettlersGuide" })
    <br />print 1</p>

    <br /><br />

<p>@Html.ActionLink("Player Aids", "Index", "Games", new { gamename = "ImperialSettlersAid" })
    <br />Print 2 copies: each can be printed 2-sided then cut to accomodate 2 players</p>

