@{
    ViewData["Title"] = "Imperial Settlers Aid";
}

<partial name="../PartialViews/_ImperialSettlersRoundOrder" />

<br /><br /><br /><br /><br /><br /><br /><br /><br />

<partial name="../PartialViews/_ImperialSettlersRoundOrder" />

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div style="float: right;">
<partial name="../PartialViews/_ImperialSettlersActionDetails" />

<br /><br /><br /><br /><br /><br /><br /><br />

<partial name="../PartialViews/_ImperialSettlersActionDetails" />
</div>
