@{
    ViewData["Title"] = "7 Wonders";
}

<h2>7 Wonders</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "7WondersGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Reference", "Index", "Games", new { gamename = "7WondersReference" })</p>

<br /><br />

<p>@Html.ActionLink("New Player Aid", "Index", "Games", new { gamename = "7WondersNewPlayerAid" })</p>

<br /><br />

<p>@Html.ActionLink("Science Calculator", "Index", "Games", new { gamename = "7WondersScienceCalculator" })</p>
