@{
    ViewData["Title"] = "7 Wonders Duel";
}

<h2>7 Wonders Duel</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "7WondersDuelGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Pantheon Summary", "Index", "Games", new { gamename = "7WondersDuelPantheon" })</p>

<br /><br />

<p>@Html.ActionLink("Science Symbols", "Index", "Games", new { gamename = "7WondersDuelScience" })</p>


