@{
    ViewData["Title"] = "7 Wonders Duel Science";
}

<style>
.tc-14 {
    width: 14%;
    text-align: center;
}

.wonderwrap {
    width: 90%;
}

</style>

<br /><br />

<div class="wonderwrap">
<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-writing.png" />
            </div>
            <div>
                 1 <span class="arrow"></span> 2
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-pharmacy.png" />
            </div>
            <div>
                 1 <span class="arrow"></span> 2
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-engineering.png" />
            </div>
            <div>
                 1, 2 <span class="arrow"></span>
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-math.png" />
            </div>
            <div>
                 1, 2 <span class="arrow"></span>
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-chemistry.png" />
            </div>
            <div>
                 <span class="arrow"></span> 3, <span class="arrow"></span> 3
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-astronomy.png" />
            </div>
            <div>
                 3, 3
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-law.png" />
            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

<div class="table table-100">
    <div class="table-row">
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-writing.png" />
            </div>
            <div>
                 1 <span class="arrow"></span> 2
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-pharmacy.png" />
            </div>
            <div>
                 1 <span class="arrow"></span> 2
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-engineering.png" />
            </div>
            <div>
                 1, 2 <span class="arrow"></span>
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-math.png" />
            </div>
            <div>
                 1, 2 <span class="arrow"></span>
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-chemistry.png" />
            </div>
            <div>
                 <span class="arrow"></span> 3, <span class="arrow"></span> 3
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-astronomy.png" />
            </div>
            <div>
                 3, 3
            </div>
        </div>
        <div class="table-cell tc-14">
            <div>
                <img src="~/lib/Images/7WondersDuel/sci-law.png" />
            </div>
        </div>
    </div>
</div>
</div>