@{
    ViewData["Title"] = "Dune Imperium";
}

<div style="position: absolute; width: 100%">
<div class="table-40 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-3">High Council</div>
        <div class="table-cell tc-9">action space that provides +2 persuasion</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Influence</div>
        <div class="table-cell tc-9">cube position with a given faction</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/DrawCard.png" /></div>
        <div class="table-cell tc-9">Draw 1 card</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Discard.png" /></div>
        <div class="table-cell tc-9">Discard 1 card from hand</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Trash.png" /></div>
        <div class="table-cell tc-9">Trash 1 card from hand / discard / in-play</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Sword.png" /></div>
        <div class="table-cell tc-9">+1 strength in combat</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/FactionUp.png" /></div>
        <div class="table-cell tc-9">+1 influence in faction of your choice</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/FactionDown.png" /></div>
        <div class="table-cell tc-9">-1 influence in faction of your choice</div>
    </div>
</div>
</div>

<div style="position: absolute; width: 100%; left: 50%">
<div class="table-40 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-3">High Council</div>
        <div class="table-cell tc-9">action space that provides +2 persuasion</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Influence</div>
        <div class="table-cell tc-9">cube position with a given faction</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/DrawCard.png" /></div>
        <div class="table-cell tc-9">Draw 1 card</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Discard.png" /></div>
        <div class="table-cell tc-9">Discard 1 card from hand</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Trash.png" /></div>
        <div class="table-cell tc-9">Trash 1 card from hand / discard / in-play</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Sword.png" /></div>
        <div class="table-cell tc-9">+1 strength in combat</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/FactionUp.png" /></div>
        <div class="table-cell tc-9">+1 influence in faction of your choice</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/FactionDown.png" /></div>
        <div class="table-cell tc-9">-1 influence in faction of your choice</div>
    </div>
</div>
</div>

<div style="position: absolute; width: 100%; top: 600px;">
<div class="table-40 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-3">High Council</div>
        <div class="table-cell tc-9">action space that provides +2 persuasion</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Influence</div>
        <div class="table-cell tc-9">cube position with a given faction</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/DrawCard.png" /></div>
        <div class="table-cell tc-9">Draw 1 card</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Discard.png" /></div>
        <div class="table-cell tc-9">Discard 1 card from hand</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Trash.png" /></div>
        <div class="table-cell tc-9">Trash 1 card from hand / discard / in-play</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Sword.png" /></div>
        <div class="table-cell tc-9">+1 strength in combat</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/FactionUp.png" /></div>
        <div class="table-cell tc-9">+1 influence in faction of your choice</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/FactionDown.png" /></div>
        <div class="table-cell tc-9">-1 influence in faction of your choice</div>
    </div>
</div>
</div>

<div style="position: absolute; width: 100%; top: 600px; left: 50%">
<div class="table-40 table-padding-1">
    <div class="table-row">
        <div class="table-cell tc-3">High Council</div>
        <div class="table-cell tc-9">action space that provides +2 persuasion</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3">Influence</div>
        <div class="table-cell tc-9">cube position with a given faction</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/DrawCard.png" /></div>
        <div class="table-cell tc-9">Draw 1 card</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Discard.png" /></div>
        <div class="table-cell tc-9">Discard 1 card from hand</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Trash.png" /></div>
        <div class="table-cell tc-9">Trash 1 card from hand / discard / in-play</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/Sword.png" /></div>
        <div class="table-cell tc-9">+1 strength in combat</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/FactionUp.png" /></div>
        <div class="table-cell tc-9">+1 influence in faction of your choice</div>
    </div>
    <div class="table-row">
        <div class="table-cell tc-3"><img class="icon" src="~/lib/Images/DuneImperium/FactionDown.png" /></div>
        <div class="table-cell tc-9">-1 influence in faction of your choice</div>
    </div>
</div>
</div>

<style>
.icon {
    width: 30px;
}
</style>