@{
    ViewData["Title"] = "Dungeon Petz";
}

<h2>Dungeon Petz</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "DungeonPetzGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Phases", "Index", "Games", new { gamename = "DungeonPetzPhases" })</p>

<br /><br />

<p>@Html.ActionLink("Special Cages and Petz", "Index", "Games", new { gamename = "DungeonPetzPetCageReference" })</p>

<br /><br />

<p>@Html.ActionLink("Artifacts", "Index", "Games", new { gamename = "DungeonPetzArtifacts" })</p>

