@{
    ViewData["Title"] = "Dungeon Petz Artifacts";
}

<style>
.artifact {
    width: 60px;
}

.table .table .table-cell {
    padding-bottom: 3em;
}
</style>

<h3>Artifacts</h3>

<br />

<div class="table">
    <div class="table-row">
        <!-- left column -->
        <div class="table-cell tc-6">
            <div class="table">

                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonPetz/artifact-book.png" class="artifact" />
                    </div>
                    <div class="table-cell">
                        <h4>Books</h4>
                        <ul class="list-sm">
                            <li>Choose 1 color</li>
                            <li>+1 card of that color</li>
                        </ul>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonPetz/artifact-crystalball.png" class="artifact" />
                    </div>
                    <div class="table-cell">
                        <h4>Crystal Ball</h4>
                        <ul class="list-sm">
                            <li>Before drawing cards:
                                <br />
                                discard 3, draw 3
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonPetz/artifact-longhandledshovel.png" class="artifact" />
                    </div>
                    <div class="table-cell">
                        <h4>Long-Handled Shovel</h4>
                        <ul class="list-sm">
                            <li>Phase 4: one available imp can remove 2 manure tokens</li>
                            <li>May use after poop needs and before disease needs</li>
                            <li>Can clean occupied cages</li>
                        </ul>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonPetz/artifact-imparmor.png" class="artifact" />
                    </div>
                    <div class="table-cell">
                        <h4>Imp Armor</h4>
                        <ul class="list-sm">
                            <li>Can protect 2 imps</li>
                            <li>Boost a purple or red number by 1</li>
                            <li>Chosen imps do not go to hospital</li>
                        </ul>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonPetz/artifact-employeeofthemonth.png" class="artifact" />
                    </div>
                    <div class="table-cell">
                        <h4>Employee of the Month</h4>
                        <ul class="list-sm">
                            <li>1 imp counts as 2 for cleaning, entertaining, or catching pets</li>
                            <li>Imp does <b>not</b> collect 2 gold</li>
                            <li>Can combine with other effects
                                <ul>
                                    <li>Shovel: remove 4 manure</li>
                                    <li>Imp armor: +2 bonus to a number</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- right column -->
        <div class="table-cell tc-6">
            <div class="table">

                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonPetz/artifact-whipofobedience.png" class="artifact" />
                    </div>
                    <div class="table-cell">
                        <h4>Whip of Obedience</h4>
                        <ul class="list-sm">
                            <li>+&half; to all exhibitions (except final scoring)</li>
                            <li>Incrases score above 0, even when not participating</li>
                        </ul>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonPetz/artifact-magicbox.png" class="artifact" />
                    </div>
                    <div class="table-cell">
                        <h4>Magic Box</h4>
                        <ul class="list-sm">
                            <li>On gain: add 1 food token from bank</li>
                            <li>Food on this can be used as either type</li>
                            <li>Food does not age</li>
                            <li>Phase 6: if empty, may add a food you would move or discard</li>
                        </ul>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonPetz/artifact-fancyhat.png" class="artifact" />
                    </div>
                    <div class="table-cell">
                        <h4>Fancy Hat</h4>
                        <ul class="list-sm">
                        <li>+&half; group size</li>
                        <li>Hat stays with imp (with accessory, on platform, in hospital)</li>
                        </ul>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonPetz/artifact-giftbox.png" class="artifact" />
                    </div>
                    <div class="table-cell">
                        <h4>Gift Box</h4>
                        <ul class="list-sm">
                            <li>Clone an artifact owned by another player</li>
                            <li>Can choose to wait to trigger copying</li>
                            <li>Lasts entire game</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


