@{
    ViewData["Title"] = "Dungeon Fighter";
}

<h2>Dungeon Fighter</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "DungeonFighterGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Icons", "Index", "Games", new { gamename = "DungeonFighterIcons" })</p>

<br /><br />

<p>@Html.ActionLink("Templates", "Index", "Games", new { gamename = "DungeonFighterTemplates" })</p>
