@{
    ViewData["Title"] = "Dungeon Fighter Guide";
}

<style>
img {
    max-width: 50px;
}

ul {
    padding-left: 1em;
}
</style>

<div class="table">
    <div class="table-row">
        <div class="table-cell tc-6">
            <!-- Lanky Lowshot -->
            <h3>Lanky Lowshot</h3>
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/reroll.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Reroll</h4>
                        <p>Ignore first roll</p>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/tracking.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Tracking</h4>
                        <p>Players deal +1 damage</p>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
            </div>

            <!-- Brockenstock -->
            <h3>Brockenstock</h3>
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/pickpocket.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Pickpocket</h4>
                        <p>Take 2 gold</p>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/beer.png" />
                    </div>
                    <div class="table-cell tc-7">
                        <h4>Beer</h4>
                        <ul>
                            <li>Assign to a player</li>
                            <li>Player takes 0 damage for rest of fight</li>
                        </ul>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
            </div>

            <!-- Murka Mistcleaver -->
            <h3>Murka Mistcleaver</h3>
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/nodamage.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>No Damage</h4>
                        <p>Take 0 damage if missing board</p>
                    </div>
                    <div class="table-cell tc-4">
                        
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/burstofhits.png" />
                    </div>
                    <div class="table-cell tc-7">
                        <h4>Burst of Hits</h4>
                        <ul>
                            <li>Throw again, add damage from both</li>
                            <li>Cannot be activated twice</li>
                        </ul>
                    </div>
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/targethit.png" />
                    </div>
                </div>
            </div>

            <!-- Fridolin -->
            <h3>Fridolin</h3>
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/layofheroes.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Lay of Heroes</h4>
                        <ul>
                            <li>Party may pay $1</li>
                            <li>Monster loses special ability</li>
                        </ul>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
            </div>

        </div>

        <!-- Column 2 -->
        <!-- Column 2 -->
        <div class="table-cell tc-6">
            <!-- Randolph -->
            <h3>Randolph</h3>
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/reroll.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Reroll</h4>
                        <p>Ignore first roll</p>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/metamorphosis.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Metamorphosis</h4>
                        <p>Monster deals -2 damage</p>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
            </div>

            <!-- Lady Mary -->
            <h3>Lady Mary</h3>
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/nodamage.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>No Damage</h4>
                        <p>Take 0 damage if missing board</p>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/seduction.png" />
                    </div>
                    <div class="table-cell tc-7">
                        <h4>Seduction</h4>
                        <ul>
                            <li>When defeated, claim monster card</li>
                            <li>Later rolls: discard <span class="arrow"></span> add its damage</li>
                            <li>May have multiple claimed monsters</li>
                        </ul>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
            </div>

            <!-- Sir Moo -->
            <h3>Sir Moo</h3>
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/healall.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Heal All</h4>
                        <p>Heal all players +1</p>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/divineintervention.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Divine Intervention</h4>
                        <ul>
                            <li>Assign to a player</li>
                            <li>Player deals X damage <span class="arrow"></span> <br /> heal any one player +X</li>
                        </ul>
                    </div>
                    <div class="table-cell tc-4">
                        <img src="~/lib/Images/DungeonFighter/targethit.png" />
                    </div>
                </div>
            </div>

            <!-- Goldfinga -->
            <h3>Goldfinga</h3>
            <div class="table table-padding-1">
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/pickpocket.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Pickpocket</h4>
                        <p>Take 2 gold</p>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell tc-2">
                        <img src="~/lib/Images/DungeonFighter/theft.png" />
                    </div>
                    <div class="table-cell tc-6">
                        <h4>Theft</h4>
                        <p>Gain equipment during cleanup</p>
                    </div>
                    <div class="table-cell tc-4">
            
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





<h3>Tucker Blackfoot</h3>

