@{
    ViewData["Title"] = "On Mars Building Clarifications";
}
<style>
body {
    width: 350px;
}

h4, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-bottom: .5em;
}

ol, ul {
    margin-bottom: 1em;
}

li > ul {
    margin-bottom: 0;
}

footer {
    margin-bottom: 0;
}

p {
    margin-bottom: 2em;
}
</style>

<h3>Blueprint 5 (Private Ship)</h3>
<p>
    You can use “Increased Colonist Capacity” tech to enhance this card; also the LSS level has to be observed.
</p>

<h3>Blueprint 15 (Radar)</h3>
<p>
    When you upgrade the building, choose one of the two Discovery tiles from the Exploration space and put it on the card (replace the tile in the Exploration space). That tile stays there as the Executive Action for that card for the rest of the game.
</p>

<h3>Blueprint 16 (Builder Drone A1600)</h3>
<p>
    You can use “Efficient Upgrading” tech to enhance this card.
</p>

<h3>Blueprint 19 (Eco Resort)</h3>
<p>
    Choose either Orbit or Surface, and retrieve all of your colonists from action spaces in that area only.
</p>

<h3>Blueprint 21 (Recycling Bots)</h3>
<p>
    You cannot use “Faster Rovers” tech to move the bots farther (but you can spend crystals). If you move more than one bot and land on more than one discovery or research tile, you can only pick up one, and the others are destroyed.
</p>

<h3>Blueprint 24 (Command Center)</h3>
<p>
    Card description states you get to move your rover according to highest level of “Faster Rovers” tech in play. The owner of the tech does not get compensated (the card is used, not tech), and you cannot use a Faster Rovers tech tile to further boost the distance you travel.
</p>



