@{
    ViewData["Title"] = "On Mars";
}

<h2>On Mars</h2>

<p>@Html.ActionLink("Guide", "Index", "Games", new { gamename = "OnMarsGuide" })</p>

<br /><br />

<p>@Html.ActionLink("Action Summary", "Index", "Games", new { gamename = "OnMarsActionSummary" })</p>

<br /><br />

<p>@Html.ActionLink("Building Summary", "Index", "Games", new { gamename = "OnMarsBuildingSummary" })</p>

<br /><br />

<p>@Html.ActionLink("Building Clarifications", "Index", "Games", new { gamename = "OnMarsBuildingClarifications" })</p>

